[2017-10-06 15:36] bvaughn opened #1 "Add CI check for unique redirect URLs"
@sophiebits and I recently noticed that [/docs/index.html](https://reactjs.org/docs/index.html) redirected to [/docs/accessibility.html](https://reactjs.org/docs/accessibility.html) rather than [/docs/hello-world.html](https://reactjs.org/docs/hello-world.html). This turned out to be because both [`/docs/hello-word.md`](https://github.com/reactjs/reactjs.org/blob/master/content/docs/hello-world.md

[2017-10-06 15:37] bvaughn opened #2 "Defer loading Babel until it is needed"
We currently load Babel via CDN (which is nice) but we load it in the `<head>` of the page (which is not so nice). We should only load it on pages that actually use it (eg pages that use the [`CodeEditor`](https://github.com/reactjs/reactjs.org/blob/master/src/components/CodeEditor/CodeEditor.js)).

Check out the [Babel website's REPL](https://github.com/babel/website/tree/master/js/repl) for an e

[2017-10-06 15:38] bvaughn opened #3 "Gracefully recover when ad block prevents Babel from loading"
I've seen reports that certain ad blockers (eg Fair AdBlocker 1.404) prevent Babel from loading which causes a script error and breaks the docs site. We should more robustly handle this case (probably by showing an error on the code-preview side, where we would show script errors).

Note that this issue is related to issue #2 and may be impacted by its implementation.

[2017-10-06 16:59] bvaughn opened #7 "Document that deep equality checks and JSON.stringify() in shouldComponentUpdate() are a bad idea"
Inspired by erikras/redux-form/issues/3461

Relocated from facebook/react/issues/11107

[2017-10-06 17:01] bvaughn opened #9 "Add error boundaries to the website"
A few places where it could be handy:
* Live editor on the homepage to show crashes (or for issues like #3)
* Search box that gets broken by Fair Adblocker because a global is missing

[2017-10-06 17:03] bvaughn opened #10 "Add inline syntax errors to website editor"
Proof of concept by @tsriram:

![](https://cloud.githubusercontent.com/assets/450559/25552577/41749322-2cbb-11e7-9ba6-65cad22603a8.gif)

Some discussion on facebook/react/issues/11094

Currently blocking on FormidableLabs/react-live#41

[2017-10-06 17:06] bvaughn opened #11 "Some old fiddles broken due to HTTP/HTTPS issue"
See here for example: https://jsfiddle.net/69z2wepo/48909/

It's as if redirect happens without preserving the protocol.

[2017-10-06 17:11] bvaughn opened #12 "Host codemods on the website"
It would be nice to provide a REPL for React codemods on the website, particular for ones like
`createClass` or `PropTypes`. This would be handy for one-offs like converting StackOverflow answers or fiddles and would also introduce people to the idea of codemodding in a playful way. The REPL could also include instructions for how to run the codemods on the command line.

These codemods live in [r

[2017-10-06 17:28] bvaughn opened #14 "Website displays empty page when cookies are disabled in Firefox"
When using a Firefox with "[Cookie Whitelist](https://addons.mozilla.org/en-US/firefox/addon/cookie-whitelist-with-buttons/)" plugin (and enabled, preventing cookie storage), loading https://reactjs.org/ flashes the page's content then removes all content in the body, producing an empty white page with the following content:

[code]

When loading the page the content initially loads, flashes, and

[2017-10-06 17:31] bvaughn opened #15 "Deprecate and remove TestUtils.mockComponent"
It is a Jest-ism that shouldn't be in our open source package. People using Jest can implement a similar pattern directly.

[2017-10-06 17:35] bvaughn opened #16 "Missing documentation: null/undefined as input valu"
Originally filed by @DanielSWolf via facebook/react/issues/11031

**Do you want to request a *feature* or report a *bug*?**

I'd like to request documentation. :-)

When you pass `null` as `value` of an input, you get the following warning:

This warning very clearly states what to do. My problem is, it fails to mention *why* I'm not supposed to pass `null`. Nor could I find any explanation online

[2017-10-06 17:38] bvaughn opened #17 "Document error boundaries"
Add top-level documentation for the new `componentDidCatch` lifecycle. Please refer to the post:

https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html

It describes the behavior in detail. We should just adopt it to the doc format.

This issue has been claimed by @Krizzu

[2017-10-06 17:38] CompuIves opened #18 "Online IDE in the documentation"
Continuing the conversation on Twitter here: twitter.com/acemarke/status/913891217385168896.

I think it would be very beneficial for beginners to use CodeSandbox/Stackblitz/WebpackBin to start learning React. The environment is like a local code editor, which means that the user already gets familiar with the feel of a code editor. The user doesn't have to install any tooling, so you can start im

[2017-10-06 17:41] bvaughn opened #19 "Maintain scroll position of mobile menus"
Originally reported by @KyleAMathews via facebook/react/issues/10952

When going quickly through pages on mobile, it'd be really nice if as you scroll down long menus e.g. in docs, if after navigating to the next page and then returning to the menu if the previous scroll position is maintained/restored.

This could be done by by storing the menu scroll position in the layout again and then passing

[2017-10-06 17:46] bvaughn opened #20 "Add section headers to navigation element"
This issue was originally opened by @donpinkus via facebook/react/issues/10980

The side-nav only displays page titles. It would be nice if it also displayed section headers for the current page:

![screen shot 2017-09-29 at 3 53 48 pm](https://user-images.githubusercontent.com/987092/31038967-aae43ed4-a52e-11e7-89ab-fd6bf561adcd.png)

For example - what are the life cycle events in React? The clo

[2017-10-06 17:46] bvaughn commented on #20
I'm _slightly_ against this proposed change because- at the moment- it would more tightly couple the side-nav YAML config files to the markdown content. As it is, changing an article title (in markdown) or adding a new markdown file requires someone to remember to also update the YAML file. This proposed change would require more edits (to ensure that anchor tags stayed in sync).

Ideally I would

[2017-10-06 17:49] bvaughn opened #21 "Tutorial navigation highlight should update as you scroll"
When you click on side-nav items, the page scrolls to that section (with 4px blue span in front of the link text). If you scroll manually to those parts, the side-nav doesn't update to show where you're at.

You can see it on a screenshot, **An Interactive Component** should be active.
![](https://i.imgur.com/zooCABr.png)

Originally reported by @vicodinchik via facebook/react/issues/10984

[2017-10-06 17:50] bvaughn opened #22 "Restructure docs to provide "paths" for guidance?"
**Originally repoted by @markerikson via facebook/react/issues/10991.
Please read the discussion thread on the original issue before beginning work on this one.**

Per Dan's recent comments at https://news.ycombinator.com/item?id=15367044 and https://twitter.com/dan_abramov/status/913896989842137091 , a lot of people still seem to have complaints about the way the docs are structured.

It might be

[2017-10-06 17:53] bvaughn opened #23 "Broken download link on /docs/installation"
The link to "download this HTML file" on the [/docs/installation.html](https://reactjs.org/docs/installation.html) page is broken.

This issue was originally reported by @dbnex14 via facebook/react/issues/10994

[2017-10-06 17:57] bvaughn opened #24 "Add Flow types to website source"
Replace `PropTypes` with Flow types for our components in `www` (and make sure `yarn flow` checks these types to protect against regressions).

I got the ball rolling with commit 1de4c66

[This Twitter thread](https://twitter.com/brian_d_vaughn/status/916061335036739584) also has some interesting discussion for auto-generating Flow types for Gatsby's graphql queries.

[2017-10-06 18:01] leticiawanderley commented on #23
Can I try to fix this?

[2017-10-06 18:05] bvaughn commented on #23
It's all yours!

Please let me know if you decide not to submit a PR and I'll remove the "in-progress" label.

[2017-10-06 18:09] KyleAMathews commented on #19
This would also lessen the need to hide subsections of the menu.

[2017-10-06 18:09] bvaughn opened #25 "Document that you can't rely on React 16 SSR patching up differences"
This issue was originally filed by @Tarnadas at facebook/react/issues/10591. There's a lot of interesting discussion there. This is my (@bvaughn) attempt to summarize based on a [recent comment](https://github.com/facebook/react/issues/10591#issuecomment-334500962) by @dustinsoftware:

The [React 16 blog post](https://reactjs.org/blog/2017/09/26/react-v16.0.html) calls out that mismatches are not

[2017-10-06 18:16] bvaughn opened #26 "Interactive documentation for JSX"
This issue was originally reported by @viebel via facebook/react/issues/10646:

The interactive version of the "JSX in depth" article got a nice traction today on [Hacker News](https://news.ycombinator.com/item?id=15197693).

The interactive snippets are powered by the [Klipse plugin](https://github.com/viebel/klipse) (I'm the author of the plugin). The evaluation is done on the *client side*: no

[2017-10-06 18:18] tylercrosse commented on #14
I experienced a similar issue of the page flashing rendered content and then going blank. The chrome extension Fair AdBlockr was responsible and whitelisting the site solved the problem. (summarized from original description filed on [facebook/react#11015](https://github.com/facebook/react/issues/11015) )

On the blank page the react dev tools only show these 4 components & their children:

[code]

[2017-10-06 18:20] bvaughn opened #27 "Documentation about which style numeric values are treated as pixels is missing"
This change was originally requested by @Kovensky via facebook/react/issues/10418

This used to exist in the React 15 documentation under the Tips section, but mentions to this support are now missing entirely.

The old documentation page: https://github.com/facebook/react/blob/8cac523beaaacfeae179ca14a1d8a46d82892016/docs/tips/06-style-props-value-px.md

This was removed in commit 455d2d1b48e5cda

[2017-10-06 18:23] bvaughn commented on #9
This issue can also potentially help with #14

[2017-10-06 18:27] bvaughn opened #28 "Improve/create documentation for ReactTestUtils.renderIntoDocument()"
This issue was originally reported by the-spyke via facebook/react/issues/10330

[There is almost none](https://facebook.github.io/react/docs/test-utils.html#renderintodocument) documentation about how to actually use `.renderIntoDocument()` method. I can't find find answers on those questions on `Jest`'s website or `enzyme`'s (I know that it's not Facebook) either.

* If I render a component into

[2017-10-06 18:29] markerikson opened #29 "Add an official React FAQ to the docs"
I wrote the [Redux FAQ](http://redux.js.org/docs/FAQ.html) last year, and it's been pretty helpful for answering actual frequently asked questions.  It'd be great if we could add a similar FAQ directly to the React docs.

Tim Arney already has a standalone "React FAQ" site at https://reactfaq.site/ that would be a great starting point for a lot of the material.  My [React/Redux links list](https:/

[2017-10-06 18:29] FannyVieira commented on #27
basically it is necessary to add the information of the pixels to this page? https://reactjs.org/docs/dom-elements.html#style

[2017-10-06 18:30] #15 closed

[2017-10-06 18:32] gaearon opened #30 "Old docs link redirect to https://tutorial/tutorial.html"
Moved from https://github.com/facebook/react/issues/11130.
Original issue by @damaera.

------------

if you open this link (old documentation link)
http://facebook.github.io/react/docs/tutorial.html or https://reactjs.org/docs/tutorial.html
it will redirect to
https://tutorial/tutorial.html

it should redirect to current documentation URL --> https://reactjs.org/tutorial/tutorial.html

[2017-10-06 18:56] FannyVieira commented on #16
I found this link that explains the problem: https://zhenyong.github.io/react/tips/controlled-input-null-value.html

[2017-10-06 19:38] bvaughn commented on #15
Thanks 😅

[2017-10-06 19:41] FannyVieira commented on #16
can I create a file that contains the link information in the [content](https://github.com/reactjs/reactjs.org/tree/master/content) folder?

[2017-10-06 20:24] renanpvaz commented on #2
Is it necessary to use a worker or could it be achieved through XHR + eval?

[2017-10-06 20:42] bvaughn commented on #2
Worker is totally not necessary (but a nice touch). I built a non-worker based version for Babel REPL initially. (It's there in the Git history if you're curious.)

[2017-10-06 21:17] renanpvaz commented on #2
Okay, I'll look into it and then attempt to fix the issue.

[2017-10-06 22:23] bvaughn commented on #2
Okay. I've tagged this as "in-progress" then. Please let me know if you decide not to submit a PR and I'll remove that label so someone else can claim the task.

[2017-10-06 22:50] gaearon opened #37 "Stop recommending babel-preset-es2015 in docs"
We should recommend `-env` instead. `-es2015` is deprecated.

[2017-10-07 00:37] #37 closed

[2017-10-07 00:42] fpoumian opened #40 "Wrong prettier version being used"
While working on a PR, I noticed that when I ran `yarn prettier` prettier was applying formatting rules different from those in the `.prettierrc` config file (for example, Double Quotes instead of Single Quotes).

Upon closer inspection, I noticed that the wrong version of prettier was being used:
[code]
I think that the `.prettierrc` configuration file feature was introduced in version 1.6.0, so

[2017-10-07 01:02] fpoumian commented on #40
Nevermind, apparently I was using an outdated version of Yarn which was causing this problem

[2017-10-07 01:02] #40 closed

[2017-10-07 01:53] yangshun commented on #23
This issue has been fixed by #32

[2017-10-07 02:32] Kovensky commented on #27
An important thing that new documentation needs to mention is that, as of React 16, this only applies to _actual_ `number` values. Numeric `string`s used to work (with a warning in React 15), but now they are always passed as-is.

[2017-10-07 04:18] damaera opened #44 "JSX Editor in documentation need more padding bottom"
in every LIVE JSX EDITOR which have scroll, last line is hidden.

![image](https://user-images.githubusercontent.com/5365957/31304668-d22bcebc-ab50-11e7-962f-098d42a30c80.png)

this is not showed `ReactDOM.render(<Timer />, mountNode);`
![image](https://user-images.githubusercontent.com/5365957/31304672-13465958-ab51-11e7-8380-1976a2313e0e.png)

[2017-10-07 06:09] jxom commented on #21
Hey @bvaughn! Can I tackle this one? :)

[2017-10-07 06:15] akshatnitd commented on #44
i am working on it

[2017-10-07 09:10] #23 closed

[2017-10-07 09:28] gaearon opened #50 "Include a link from 16 blog post to 15.5"
16 blog post doesn't mention how to run codemods. By now many people forgot.

We should either mention it, or link to the 15.5 post that mentions it.

[2017-10-07 11:01] gaearon commented on #50
It's worth calling out again in **Upgrading** section.

[2017-10-07 11:29] jxom commented on #50
Agreed!

[2017-10-07 15:06] #16 closed

[2017-10-07 15:20] bvaughn commented on #23
Thanks!

[2017-10-07 15:25] bvaughn commented on #21
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-07 15:46] xjlim commented on #50
I will work on this.

[2017-10-07 15:46] #30 closed

[2017-10-07 15:59] bvaughn commented on #50
@xjlim Looks like a PR #52 has already been submitted for this.

Maybe check out some of our other ["good first issues"](https://github.com/reactjs/reactjs.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) that don't have an "in progress" label yet?

[2017-10-07 16:20] #1 closed

[2017-10-07 16:27] bvaughn opened #54 "Code Editor layout broken for smaller screen sizes"
Not sure when this happened but it looks like our CSS got a little broken:
![screen-shot-2017-10-07-at-9 22 41-am](https://user-images.githubusercontent.com/29597/31309836-be93dfb6-ab41-11e7-83f2-71ee127a254c.png)

![screen-shot-2017-10-07-at-9 24 49-am](https://user-images.githubusercontent.com/29597/31309837-be96138a-ab41-11e7-89da-446d0fc6b9a4.png)

[2017-10-07 16:29] bvaughn opened #56 "Mobile layout scrolls horizontally"
This shouldn't happen 😄

![mobile-layout-hor-scorll-bug](https://user-images.githubusercontent.com/29597/31309857-0c56905e-ab42-11e7-8385-55c7e32717b1.gif)

[2017-10-07 16:30] #44 closed

[2017-10-07 16:48] yangshun commented on #56
Weird, I'm unable to reproduce this. Opened https://reactjs.org/docs/hello-world.html on Chrome Devtools with iPhone 5.

[2017-10-07 18:19] FannyVieira opened #57 "controlled component link"
when clicking on the hyperlink of controlled components the page of [uncontrolled components](https://reactjs.org/docs/uncontrolled-components.html) redirects to https://reactjs.org/docs/forms.html the correct would not be https://reactjs.org/docs/forms.html#controlled-components?

[2017-10-07 18:35] gaearon commented on #57
Seems like the whole article is about controlled components, isn't it?

[2017-10-07 18:46] fpoumian commented on #56
I'm also unable to reproduce this in either Chrome Devtools or in an actual Samsung Galaxy S6

[2017-10-07 18:56] FannyVieira commented on #57
yes, yes, I just thought it would make more sense if I went to the specific section

[2017-10-07 18:58] #57 closed

[2017-10-07 21:01] alisdairb1995 opened #59 "Hello World doc page not showing"
I initially discovered this issue when clicking the link to the Hello World Doc found in issue #56 .

The issue entails that when you visit the hello world doc page via any method other than navigating to it through the sites internal link structure (i.e copy/paste the link into the address bar, click from external source like github issue) you will receive a blank page.

Looking at the markup via

[2017-10-07 21:27] gaearon commented on #59
Can you try in an Incognito mode and without Chrome extensions?

[2017-10-07 21:38] alisdairb1995 commented on #59
Gave that a try @gaearon, received the same results. I have included a screenshot of what i am receiving in normal with extensions and Incognito mode with no extensions.

<img width="1280" alt="screen shot 2017-10-07 at 22 36 07" src="https://user-images.githubusercontent.com/16763516/31311983-34a7dc7a-abb0-11e7-9264-1b702b90dc6f.png">

[2017-10-07 22:27] bvaughn commented on #59
That page seems to load fine for me, fwiw.

Incognito should be no-cache, but could you verify for us one more time by explicitly clearing the cache and trying again?

[2017-10-07 22:43] thomasyimgit commented on #56
Cannot reproduce it either

[2017-10-07 22:47] thomasyimgit commented on #54
Can I work on this?

And just want to make sure:

1. the top-right and bottom-right radius are misssing
2. the gap should not appear

Is that right? @bvaughn Thanks for your explanation!

[2017-10-07 23:25] thomasyimgit opened #61 "Is there a way to disable outside scroll when scrolling in the live editor"
In the Live JSX editor, when you scroll to the bottom of the code and continue scrolling, the whole page actually gets scrolled, which is annoying because right at this time you are focusing on the content of the editor, but the scrolling page may make you lose your concentration and unable to find where you were looking at.

![image](https://user-images.githubusercontent.com/13282699/31312586-f07

[2017-10-07 23:40] bvaughn commented on #61
This is default browser-scrolling behavior. I don't think we should change it. Changing it might make it difficult for smaller screens like phones to scroll past live code snippets. 😄

[2017-10-07 23:40] #61 closed

[2017-10-07 23:42] thomasyimgit commented on #61
@bvaughn Hmm, yeah the tradeoff is truly the concern. Thanks for your explanation!

[2017-10-07 23:43] #54 closed

[2017-10-07 23:44] bvaughn commented on #54
Hey @thomasyimgit ! Sorry I didn't see this until now but PR #58 was submitted 5 hours ago with a fix. Thanks though! Maybe another issue?

[2017-10-07 23:45] thomasyimgit commented on #54
@bvaughn That's alright, I'll see what I can help with others.

[2017-10-07 23:47] bvaughn commented on #61
No problem!

[2017-10-07 23:49] bvaughn commented on #56
I'm able to reproduce it in Chrome with mobile layout. (Chrome in desktop mode will not resize narrow enough to reproduce it but if you toggle it to iPhone size, it repros.)

[2017-10-08 00:42] thomasyimgit commented on #56
@bvaughn Oh I got it. I'll work on it right now

[2017-10-08 00:52] thomasyimgit commented on #56
It's so weird that I can reproduce on production but not in my local environment, with this width: 509px.

[2017-10-08 02:05] danielsbird opened #62 "Thinking In React example loads CodePen script multiple times"
The [Thinking in React](https://github.com/reactjs/reactjs.org/blob/master/content/docs/thinking-in-react.md) doc has three embedded CodePens and each of them load the same script: [one](https://github.com/reactjs/reactjs.org/blame/master/content/docs/thinking-in-react.md#L65), [two](https://github.com/reactjs/reactjs.org/blame/master/content/docs/thinking-in-react.md#L110), [three](https://github

[2017-10-08 04:21] bvaughn commented on #62
Thanks for pointing this out. Looks like a great first-task for someone!

[2017-10-08 04:23] bvaughn commented on #56
Great! This issue is all yours, @thomasyimgit 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-08 06:27] viebel commented on #26
Hello guys,
Please share your thoughts and concerns about this idea.

As a starter, here is the main value points and the concerns as I see it:

## Value to the readers
 they can experiment with the code snippets without having to leave the page.
## Concerns
the size of the javascript files:
- klipse plugin: 1.1 MB, 224KB zipped
- babel: 1.4 MB, 459 KB zipped
- codemirror: a few KBs

[2017-10-08 11:15] alisdairb1995 commented on #59
@gaearon @bvaughn Apologies this looks like a localised issue with me, perhaps inline with software updated as after a restart and full cache clear the issue has rectified itself

[2017-10-08 11:15] #59 closed

[2017-10-08 11:30] ishankbahl commented on #62
Hey @bvaughn, made a pull request for this.

[2017-10-08 13:04] fumblehool commented on #25
@bvaughn Can I work on this issue?

[2017-10-08 14:35] akshatnitd opened #66 "The features scroll horizontally on mobile on landing page"
It should be responsive and be placed vertically on mobiles for sake of better UX.

![screenshot_20171008-200114-1](https://user-images.githubusercontent.com/12656846/31317725-c256631c-ac63-11e7-9bfc-85c194829fdf.jpg)
@gaearon Can I work on it ?

[2017-10-08 15:13] ishankbahl commented on #9
Hey @bvaughn , wanted to work on this. Looks like issue #3 , #14 , https://github.com/facebook/react/issues/11008 can be solved by applying error boundaries around CodEditor, Header and Layout component where we just nudge people to whitelist the site in adblockers (As these are happening due to Fair Adblocker) . What are your thoughts?

[2017-10-08 16:23] thomasyimgit commented on #56
@bvaughn Hi Brian, sorry about the duplicated PR earlier. Just need to get myself familiar with how things work here. :)

About this issue, I saw this bug like two or three times but still cannot reproduce it 100%. I tested in every mobile sizes and in Chrome incognito mode, and it works fine. So it's kind of hard to know my solution is REALLY solving the problem. So I can only provide somethings

[2017-10-08 16:56] bvaughn commented on #66
The horizontally scrolling features section is intentional.

cc @joecritch

[2017-10-08 16:57] bvaughn commented on #59
No worries. Thanks for letting us know

[2017-10-08 17:17] #62 closed

[2017-10-08 17:20] bvaughn commented on #9
Agreed that error boundaries could probably help with a couple of issues! Please feel free to take this! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-08 17:20] bvaughn commented on #25
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-08 17:22] bvaughn commented on #26
Those file sizes are valid concerns certainly. I think we could potentially do some things to mitigate them. On the Babel REPL (source code [here](https://github.com/babel/website/tree/master/js/repl)) we do a couple of things to help with this:
* Load all big libs (eg Babel, big plug-ins) from CDN to benefit from browser cache.
* Defer loading any plug-ins until needed.
* Load them into a web-wor

[2017-10-08 17:40] #21 closed

[2017-10-08 17:48] bvaughn opened #67 "CI should run Lint, Flow, and Prettier checks for every PR"
The `package.json` defines a [`check-all`](https://github.com/reactjs/reactjs.org/blob/be1f9a60d80261eb70eded915b266078b606524c/package.json#L71) script that runs Prettier, Lint, and Flow. This script is intended to be run before commit to help catch inconsistent formatting or type errors. However we are not currently running this check as part of CI.

- [x] To fix this, first create a script that

[2017-10-08 17:50] bvaughn opened #68 "Document (non-)interaction between native and synthetic events"
This issue was originally reported by @srittau as facebook/react/issues/10284

### Text of the original issue:

I have been trying to find out why my React event handlers were not able to prevent event handlers on document. After hours of searching and experimenting, I stumbled across issue #7094, which explains it.

Unfortunately, the documentation at https://facebook.github.io/react/docs/handlin

[2017-10-08 17:51] bvaughn opened #69 "Update CodePen examples to use latest React"
IIRC currently they don’t. We should probably leave them using `latest` since if it breaks, we have to update them anyway.

**Edit** This issue is likely made unnecessary by the outcome #122

[2017-10-08 17:51] bvaughn commented on #69
Auto-assigning to Dan since he owns most of the Codepens in question.

[2017-10-08 17:53] bvaughn opened #70 "Add minimum required Node version to create-react-app docs"
This issue was originally reported by @kyamaguchi81 via facebook/react/issues/10324

### Text of original issue

Please list [You’ll need to have Node >= 6 on your machine.]
before the description in [npm install -g create-react-app],
In [Creating a New Application] of the document https://facebook.github.io/react/docs/installation.html.

Because you want to know the required version before runnin

[2017-10-08 17:54] bvaughn opened #71 "Add clarity to Tutorial step 3"
This issue was originally reported by @hori031617 via facebook/react/issues/10323

### Text of original issue:

I tried tutorial.

I think that good example code here.
For example `rm -f src/*`
Because, I had a misunderstanding remove src directory.

Thank you.

[2017-10-08 17:55] bvaughn opened #72 "Incomplete documentation on creating web components"
This issue was originally reported by @LukasBombach via facebook/react/issues/10155

### Text of original issue:

your [documentation on creating web components with react](https://facebook.github.io/react/docs/web-components.html#using-react-in-your-web-components) is quite cool and works really nice for the html. However, any component created this way will be unstyled as the documentation does

[2017-10-08 17:57] bvaughn opened #73 "Add ES5 example to Tutorial"
This issue was originally reported by @quadruplejump via facebook/react/issues/10147

### Text of original issue:

The tutorials, with the exception of the "advanced guides", assume ES6/JSX.

The React without ES6 tutorial https://facebook.github.io/react/docs/react-without-es6.html still uses JSX.

The React without JSX tutorial https://facebook.github.io/react/docs/react-without-jsx.html still u

[2017-10-08 18:05] bvaughn opened #74 "Improve docs around which lifecycle methods are safe for side effects"
This issue was originally reported by @jedwards1211 via facebook/react/issues/9693

Outcome of discussion on this issue: We should better document that you're not expected to cause side effects that synchronously update state in certain lifecycle methods. [Here's a cheatsheet](https://gist.github.com/bvaughn/923dffb2cd9504ee440791fade8db5f9) that shows which methods are safe and which aren't.

[2017-10-08 18:07] sw-yx commented on #69
how can people who dont own these codepen's help? i am happy to reconstruct, just assign stuff to me

[2017-10-08 18:07] bvaughn opened #75 "Document how to pass args to event handlers"
This issue was originally reported by @StokeMasterJack via facebook/react/issues/9685

A similar issue was reported by @Frazer via facebook/react/issues/8065

### Text of original issue #9685

Inside a loop it is common to want to pass a param to an event handler:

[code]

That would be a good thing to add to this doc page:

https://facebook.github.io/react/docs/handling-events.html

Also, how to

[2017-10-08 18:09] sw-yx commented on #75
will work on this

[2017-10-08 18:09] bvaughn opened #76 "Add "Static Type Checking" section to docs"
This concern was originally raised by @barbu110 via facebook/react/issues/9684

Refer to the discussion on that thread for more backstory.

The outcome of that discussion is: Create a new guide called "Static Type Checking" that shows how to use React from Flow and TypeScript and describes main API definitions.

[2017-10-08 18:12] sw-yx opened #77 "warning: npm WARN deprecated isarray@2.0.1: Just use Array.isArray directly"
when i npm install this repo i get this warning `npm WARN deprecated isarray@2.0.1: Just use Array.isArray directly` . im not sure how to track down this dependency since its not a direct dependency of this repo - any ideas on how I can get it out?

[2017-10-08 18:15] bvaughn opened #78 "Improve screen reader accessibility for website and coding examples"
This issue was originally reported by @frastlin via facebook/react/issues/9549

That issue has a lot of discussion worth reading. Although some of the specific issues mentioned in that thread have since been addressed, I'm moving the issue here to continue the discussion!

[2017-10-08 18:17] bvaughn commented on #69
There are lots of issues tagged ["good first issue"](https://github.com/reactjs/reactjs.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22). If you're interested in helping with the website, I recommend grabbing one of them! 😄 This particular issue is easier for Dan to handle which is why I've pre-assigned it to him.

[2017-10-08 18:18] bvaughn commented on #56
I've also had some trouble reproducing it 100% of the time.

I believe this is intentional, as per the UI designer who helped create the new site. cc @joecritch for confirmation.

[2017-10-08 18:19] bvaughn opened #79 "Better document/explain the importance of keys"
Related issues:
* facebook/react/issues/9260
* facebook/react/issues/8410 reported by @bondarewicz

cc @ajcumine who submitted a PR to the old docs repo

[2017-10-08 18:24] bvaughn commented on #77
Sure! Yarn has a command `why` for just this reason:
[code]

I don't think we need an open issue for this since it's just a local, dev-warning and it won't harm anything unless we choose to upgrade our `yarn.lock` file in the future. But I'd be happy to accept a PR if you're able to chase down the fix upstream. 😄

You could try running `yarn upgrade-interactive` to see if it resolves the issue. Af

[2017-10-08 18:24] #77 closed

[2017-10-08 18:31] bvaughn opened #80 "Document how React treats different attributes"
This issue was originally reported by @MMeent via facebook/react/issues/9220

Please refer to the original issue for the related discussion thread.

### Text of original issue:

As of #9106 there are quite a lot of tests for HTML's boolean properties on tags. According to these tests HTML properties should get rendered into empty strings or not set, e.g. `<div hidden={true} />` should render to `<

[2017-10-08 18:34] joecritch commented on #56
Yeah, ideally we don't want to have `maximum-scale=1, minimum-scale=1` because that disables zooming, which is an accessibility problem.

I've not looked into this particular issue, but I had a similar issue with inline `<code>`, whereby it needed ` word-wrap: break-word` to prevent horizontal scrolling on pages which had long  `<code>` "words".

If it's not an issue on other pages, perhaps see if

[2017-10-08 18:36] joecritch commented on #66
Yep, this is intentional, to prevent such a longer page on mobile. It's just an alternative design pattern to the standard stacking of elements.

(Off topic, but ideally, we have a different design pattern than stacking for the live code examples, such as sticky tabs?)

[2017-10-08 20:08] bvaughn opened #82 "Integrate with Crowdin localization project"
Migrated from facebook/react/issues/8063

Coordinate with docs translators via @ericnakagawa

This issue involves multiple steps:
- [x] Integrate with [Crowdin](https://crowdin.com/project/react)  to download localized content
- [ ] Generate localized URLs using said content
- [ ] Automatically sync English content changes from GitHub to Crowdin (see [this comment](https://github.com/reactjs/react

[2017-10-08 20:09] bvaughn opened #83 "New guides wanted"
**Note** this issue has some overlap with FAQ section issue #29.

We revamped the docs, but there are a few guides that are missing and that I think are essential.

### Available
- [ ] @mateoholman Community section with good resources (e.g. https://github.com/facebook/react/pull/7117)
- [ ] @mrscobbler Glossary (similar to "Virtual DOM Terminology" that is now gone, but more friendly. Check http:

[2017-10-08 20:12] bvaughn opened #84 "Bugs and issues umbrella"
We just completely rewrote docs in facebook/react/issues/7864.
They're bound to cause some issues, have some mistakes, etc.
Let's keep this issue as an umbrella for all problems we're discovering after the initial rollout.

## Claimable
- [ ] Mention in default index.html that it is not production-ready
- [ ] Figure out what to do with Community section (https://github.com/facebook/react/pull/6099

[2017-10-08 20:16] bvaughn opened #85 "Documentation versions"
This issue was originally reported by @shripadk via facebook/react/issues/2424

It would be great to have documentation for various versions of React similar to http://nodejs.org/docs/

Netlify already permanently caches deployments so we should be able to use it to link to older versions of the docs at specific times. The new website header also has a UI label for the current version that could e

[2017-10-08 20:17] markerikson commented on #83
The ReactPerf item may sorta be OBE, since it's not included in v16.

[2017-10-08 20:18] bvaughn opened #86 "Improve documentation for input type=file"
This issue was originally reported by @kevinsimper via facebook/react/issues/3981

Nowhere on the react documentation is there a reference on how to handle `<input type="file"/>`

It is a speciel field that can not be serialized, and I think it deserve some kind of mention, maybe just a link to some other resource or if it is just like a normal input, just saying that.

I think it might be worth m

[2017-10-08 20:23] bjrmatos commented on #85
it will be also cool to have a reference to the initial version that an API was introduced.

example:

<img width="786" alt="captura de pantalla 2017-10-08 a las 3 21 32 p m" src="https://user-images.githubusercontent.com/4262050/31320593-a50ef340-ac3c-11e7-8e0d-7d2f6e1ebb14.png">

[2017-10-08 20:25] bvaughn opened #87 "Improve documentation for React.Children.only"
This issue was originally reported by @jimfb via facebook/react/issues/4424

Please refer to the original issue for the related discussion thread.

My understanding of the outcome is that the docs and the implementation are slightly misaligned. The docs currently say:

This is somewhat ambiguous though with regard to how it handles an array with only 1 child element. The [actual implementation](ht

[2017-10-08 20:25] dance2die commented on #70
I will work on this issue.

[2017-10-08 20:28] bvaughn commented on #66
Thanks for confirming Joe! I'm going to close this issue for now as "working as designed" then 😄

[2017-10-08 20:28] #66 closed

[2017-10-08 20:35] bvaughn commented on #74
Marking this in-progress since @jedwards1211 has submitted a PR

[2017-10-08 20:36] bvaughn commented on #70
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-08 20:36] bvaughn commented on #85
Agreed that could be a nice addition as well! 😄

[2017-10-08 20:37] bvaughn commented on #83
Not sure what that acronym means but I assume you're suggesting we should remove it? 😄 I don't object.

[2017-10-08 20:39] bvaughn commented on #56
For me, when I'm able to reproduce it, I can reproduce it on every page.

[2017-10-08 20:39] bvaughn commented on #75
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-08 20:46] dance2die commented on #70
Thank you @bvaughn
Struggling to set up the environment but it's part of the fun~

[2017-10-08 20:49] JasonEtco commented on #83
Not sure if you're already planning it, but I would add **Didn't bind class methods** to common troubleshooting issues 👍

[2017-10-08 21:04] bvaughn commented on #70
Please feel free to leave feedback about where you struggled in case it helps us improve the contributing docs.

[2017-10-08 21:13] dance2die commented on #70
I will create an issue and work on it later on (regarding `node-gyp` failing to build)

[2017-10-08 22:42] markerikson commented on #83
@bvaughn : yeah, that's what I was suggesting :)

@JasonEtco : the "troubleshooting" suggestion overlaps heavily with the [proposal for an FAQ page](https://github.com/reactjs/reactjs.org/issues/29).

[2017-10-08 23:39] jxom commented on #67
@bvaughn - I'd be willing to do this.

[2017-10-08 23:48] dance2die commented on #70
I was finally able to get it up and running but had a lot of trouble on Windows.

Below is the steps required to get the environment running on Windows 10.

1. Get `node-gyp` working using this [documentation](https://github.com/nodejs/node-gyp#on-windows).
2. Installed following commands globally
[code]
3. `yarn check-all` doesn't work on windows. So I had to run each command separately one by on

[2017-10-08 23:56] sw-yx commented on #70
i def think Windows setup is something that should be part of the docs for contributors. too easy for devs to just assume everyone has macs

[2017-10-09 00:41] bvaughn commented on #67
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-09 00:43] bvaughn commented on #70
There were no such assumptions. I just have a Mac myself and I wrote the docs so...I wrote what I know. We certainly welcome contributions to the contributing docs to improve the instructions for Windows users! ❤️

If you'd be willing to commit the changes you needed to make via a PR, @dance2die, and tag me on it- I'd be happy to merge it.

[2017-10-09 00:52] dance2die commented on #70
Thank you @bvaughn
I will add a tag you and add the link to your comment in PR comment.

[2017-10-09 02:01] bvaughn commented on #70
Closed via #89

[2017-10-09 02:01] #70 closed

[2017-10-09 03:45] damaera opened #91 "Todo example scroll"
it looks so weird when I add so many todo items
![image](https://user-images.githubusercontent.com/5365957/31324620-b30ec3e2-acde-11e7-9342-3f4fd955c58a.png)

maybe it should have a scroll in the right panel

[2017-10-09 04:39] alexkrolick commented on #75
This topic was also been suggested for the FAQ in #29, so I included some comments in PR #43 ([diff](https://github.com/reactjs/reactjs.org/pull/43/files?short_path=e475a67#diff-e475a6732d0a9962daab40c49d5f41cb)).

It might be a good idea to merge the docs on this subject, or link from one to the other.

[2017-10-09 04:55] bvaughn commented on #91
I think this is caused by a `max-height` style on the inner `<pre>` rather than the outer `<div>`. I noticed this at some point and thought, "that doesn't look right" and then forgot to look further. 😅

[2017-10-09 05:48] AlmeroSteyn commented on #83
@bvaughn Accessibility has been added and can be checked off :-)

[2017-10-09 06:00] mrscobbler commented on #83
I'll take the glossary that I created in the old repo and migrate it to the new docs repo

[2017-10-09 06:49] Frazer commented on #75
I think @hedgerh suggestion should also be included.

<button name='23' onClick={this.deleteRow}>Delete Row</button>

deleteRow (e) {
  // do some action to (e.target.name)
}

[2017-10-09 06:57] alexkrolick commented on #75
@Frazer added to the FAQ version of this topic: https://github.com/reactjs/reactjs.org/pull/43/commits/b2ef5ff1737b339df61d135d39bf0a9e22869775

[2017-10-09 07:06] alexkrolick commented on #83
As @markerikson mentioned there is some overlap with the FAQ discussion (#29). PR #43 covers AJAX and some of the VDOM concepts although a full-fledged glossary would probably replace that section.

[2017-10-09 07:09] satiewaltz commented on #91
I'll look into this!

[2017-10-09 07:21] damaera commented on #91
btw, i'm working on it

[2017-10-09 07:22] satiewaltz commented on #91
@damaera Ah sorry - I didn't see you make a note about it. Carry on 👍!

[2017-10-09 09:48] ajcumine commented on #79
I'll start working on this later today

[2017-10-09 13:04] damaera commented on #18
I'm looking forward for this,
Personally i prefer codesandbox.

[2017-10-09 14:30] renanpvaz commented on #2
@bvaughn  should `docsearch` be loaded the same way?

[2017-10-09 15:43] bvaughn commented on #79
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-09 15:45] bvaughn commented on #2
Could be pretty cool to just-in-time load Algolia too, yeah. 😄

I plan to remove it in favor of a client-side search solution like [js-worker-search](https://github.com/bvaughn/js-worker-search) at some point in the future so I hadn't considered it much. That being said, it might take me a long time to get to that so...

[2017-10-09 15:46] bvaughn commented on #91
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-09 15:48] bvaughn commented on #83
Thanks @AlmeroSteyn. I've removed that entry.

Yeah, there's some overlap. I spent a few hours merging/moving issues and PRs yesterday but some of the larger/vaguer ones like this are a bit hard to do without a bit of overlap. I'll add a note in the description about the relationship.

[2017-10-09 15:58] #91 closed

[2017-10-09 16:06] renatoselenica commented on #87
Can I take this one? If no one else is working on it right now.

[2017-10-09 16:10] bvaughn opened #97 "Remove hard-coded HTML/CSS from index.md"
(This is a tech debt clean-up issue from the legacy Jekyll docs site.)

The [`docs/index.md`](https://github.com/reactjs/reactjs.org/blob/master/content/index.md) file currently contains a lot of HTML- complete with attributes and class names. This file should contain only (or at least predominantly) markdown syntax. We should remove as much of the HTML as possible and instead convert it to regula

[2017-10-09 16:18] bvaughn opened #98 "Add client-side search for offline support"
This issue is being opened for discussion. We _may_ do it if we deem it worth the effort, although we've currently disabled service-workers for reactjs.org so we don't have offline mode anyway.

There are several decent JavaScript search libraries (eg [lunr](https://github.com/olivernn/lunr.js),
 [js-worker-search](https://github.com/bvaughn/js-worker-search), [js-search](https://github.com/bvaugh

[2017-10-09 16:19] bvaughn commented on #2
Check out issue #98 for my thoughts on that if you're interested

[2017-10-09 16:20] bvaughn commented on #87
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-09 16:25] bvaughn opened #99 "Interactive code samples should support a non-JSX view"
On the old website, the interactive code samples on [the home page](https://reactjs.org/) used to have 3 tabs:
* JSX editor
* Non-JSX editor
* Preview

The non-JSX tab showed what the JSX compiled to (eg `<div/>` => `React.createElement('div')`). This was a useful view for people who are new to JSX or who just feel more comfortable writing regular JavaScript.

We should add this view back to the c

[2017-10-09 16:27] ishankbahl commented on #14
While reproducing this error in development, got the following error in console

![image](https://user-images.githubusercontent.com/25363622/31348058-07261e14-ad3c-11e7-8180-6714419fe2a4.png)

Where will the error boundary have to be added to tackle this? (maybe at  .cache/root.js:120)

[2017-10-09 16:55] bvaughn commented on #3
Note that this issue was reported by another user but I am unable to reproduce it. Removing Babel entirely (so it isn't loaded) results in the following for me:
![screen shot 2017-10-09 at 9 55 10 am](https://user-images.githubusercontent.com/29597/31349409-048c5aa6-acd8-11e7-9d70-07f0685dfbc2.png)

I think this is good enough. 😄

[2017-10-09 16:56] bvaughn commented on #3
Eh, maybe we could improve the error message slightly to mention ad blockers if we detect no Babel. I'll re-open and re-purpose for that.

[2017-10-09 17:15] yangshun commented on #97
@bvaughn I would like to take up this task

[2017-10-09 18:15] bvaughn commented on #97
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-09 21:00] ahmetcetin opened #103 "Ad Blocker crashes the page"
I'm using an ad blocker called "Stands" in Chrome. It was blocking two scripts on the documentation pages, and whole app crashes, no exception handling here I guess. Ironically, I opened the page about Error Boundaries (https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html) after googling and it crashed :) Apparently no Error Boundaries on documentations :)

[2017-10-09 21:27] #27 closed

[2017-10-09 21:35] bvaughn commented on #67
Re-opening b'c only the first part is done 😄

[2017-10-09 21:45] jxom commented on #67
Sorry @bvaughn - I already made changes for the second one :P see #104

[2017-10-09 21:47] bvaughn commented on #67
Don't be sorry. This issue is still marked "in-progress" so that's great 👍

[2017-10-09 22:05] annuhdo commented on #84
Ooh, I'll grab the issue "Mark mockComponent as legacy and unnecessary" assuming it's to change this section: https://reactjs.org/docs/test-utils.html#mockcomponent

[2017-10-09 22:18] bvaughn commented on #84
Okay it's yours

[2017-10-09 22:40] KyleAMathews commented on #82
Happy to help create a Gatsby source plugin for Crowdin! That'd be really powerful. And a lot of people would use it including sooner than later gatsbyjs.org

From a bit of research, it looks like it'd be pretty easy to pull data using their API:

* https://support.crowdin.com/api/download/
* Guide for creating a source plugin https://www.gatsbyjs.org/docs/create-source-plugin/ — this guide is a b

[2017-10-09 22:42] bvaughn commented on #82
Fantastic 😄  There's a good chance we'll end up collaborating on this soon then.

[2017-10-10 00:31] hellobrian opened #109 "Missing docs about Transferring Props in JSX"
*(Originally opened in https://github.com/facebook/react/issues/11124#event-1282129854)*

I noticed that the latest docs don't talk about [Transferring Props in JSX with rest properties](https://github.com/facebook/react/blob/v15.4.0-rc.3/docs/docs/06-transferring-props.md#transferring-with--in-jsx).

[code]

☝️ I felt that this was really useful for building reusable react components and an impor

[2017-10-10 02:20] KyleAMathews commented on #85
An interesting option too would be to use [git-worktree](https://git-scm.com/docs/git-worktree) to checkout past branches to build older versions of the docs within Gatsby.

[2017-10-10 02:20] KyleAMathews commented on #85
It'd slow things down builds somewhat but since the older stuff will be cached after the first build, it might be quite workable still.

[2017-10-10 08:00] lydell commented on #17
This seems to exist now: https://reactjs.org/docs/error-boundaries.html

Question: Should `componentDidCatch` be briefly mentioned in https://reactjs.org/docs/react-component.html and link to the above page?

[2017-10-10 08:14] ishankbahl commented on #84
Made a PR for "`shallowCompare` on Addons page should recommend `PureComponent` instead".

[2017-10-10 09:50] jenshedqvist commented on #78
I think maybe the biggest challenge is that the tools people with special needs use (such as screen readers) will always lagg behind the a11y specs. I've recently followed the latest WAI/WCAG/Aria specs but got the feedback that "Yes that's how it is *supposed* to work, but it doesn't yet. So it is of no help for me. Standards aren't reality". So if tables are a must have and aria isn't enough all

[2017-10-10 10:32] ishankbahl commented on #83
Hey @bvaughn , I would like to work on "AJAX (just show how to use `fetch()` in lifecycles, mention cancellation issues)". Though now we don't have to talk about cancellation issues as fetch now supports abort https://developers.google.com/web/updates/2017/09/abortable-fetch
Can I take this one?

[2017-10-10 11:39] fumblehool opened #113 "Sidebar does not collapse when clicked on Nav title."
* The sidebar navigation links in `Tutorial`, `Community` and `Blog`  does not collapse when clicked.
* The active Title for `Tutorial` and `Blog` is undefined. Turns out `findSectionForPath` is sending `undefined` for them.

[2017-10-10 12:26] ishankbahl commented on #84
@bvaughn the last two issues had been solved, maybe someone forgot to tick them off at https://github.com/facebook/react/issues/8035 .

[2017-10-10 14:56] renatoselenica commented on #87
#118 I just submitted a pull request on it.

[2017-10-10 15:21] bvaughn commented on #103
This issue overlaps with #14 and #9. Could you add this as a comment to those issues? 😄

Thanks for pointing this out though! We'll get it fixed. I'm going to close this as a duplicate for now.

[2017-10-10 15:21] #103 closed

[2017-10-10 15:25] bvaughn commented on #109
On the [JSX in Depth](https://reactjs.org/docs/jsx-in-depth.html) section of the docs there's a header called [Spread Attributes](https://reactjs.org/docs/jsx-in-depth.html#spread-attributes). It isn't _exactly_ what you mention since it doesn't plug `children` out.

Would you be interested in submitting a PR that adds an additional example to this section?

[2017-10-10 15:27] bvaughn commented on #113
This is intentional 😄  These pages have only 1 section.

Works fine (for me) in Blog. It doesn't initially show a highlight in Tutorial because the sidebar highlights which section you've scrolled to- and the page isn't initially scrolled to the first sub-section. (I'd be happy to improve the detection on the Tutorial section to show the first one by default if we haven't scrolled quite that far d

[2017-10-10 15:28] bvaughn commented on #113
Let's keep chatting if I misunderstood either of the issues you've reported above. I'd also be happy to review a PR to improve the initial offset calculation for the Tutorial page. 😄

For now I'm going to close this issue though since I think it's working as intended.

[2017-10-10 15:28] #113 closed

[2017-10-10 15:39] bvaughn commented on #85
What would be the benefit of building past branches like this vs just linking to snapshots in time?

It would give us the chance to improve old docs or fix bugs, but I'm not sure that's super important.

[2017-10-10 15:46] KyleAMathews commented on #85
It just feels like an odd navigation scheme to link to an old version of the website instead of just linking to older docs. But agree it's far simpler and probably perfectly adequate.

[2017-10-10 15:47] hellobrian commented on #109
Yes, I can send a PR - thanks for the quick response!

[2017-10-10 15:58] bvaughn opened #120 "Add componentDidCatch to React.Component page"
Add `componentDidCatch` to https://reactjs.org/docs/react-component.html and link to https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html for a more complete explanation.

[2017-10-10 15:59] bvaughn commented on #17
Yup! A PR was merged without referencing this issue I guess. Thanks for pointing out the oversight 😄

I've opened #120 for adding `componentDidCatch` ~ if you want it, leave a comment there and it's all yours :smile:

[2017-10-10 15:59] #17 closed

[2017-10-10 16:02] bvaughn commented on #84
Yup! You're right! String refs are mentioned [here](https://reactjs.org/docs/refs-and-the-dom.html#legacy-api-string-refs) and it looks like all of the forms examples show controlled components now. Thanks for pointing this out! Description has been updated.

[2017-10-10 16:03] bvaughn commented on #83
It's all yours, @ishankbahl

[2017-10-10 16:09] bvaughn commented on #78
I'd like to learn more to confirm that ARIA isn't enough. I'm not super knowledgeable in this area. Do you have references?

I also left [a comment](https://github.com/facebook/react/issues/9549#issuecomment-335524604) on the previous issue.

[2017-10-10 16:10] bvaughn commented on #87
No problem @renatoselenica.

For future reference, if your pull request description says something like "Fixes #87" then GitHub will automatically link the 2 and close the issue when the PR is merged.

[2017-10-10 16:12] bvaughn commented on #85
We could always rebuild older versions of the site if necessary by stepping back through Git commits, but things like the [error codes dependency between reactjs/reactjs.org and facebook/react](https://github.com/reactjs/reactjs.org/tree/master/plugins/gatsby-source-react-error-codes) will make building legacy versions difficult and not something I want to commit to doing/supporting all the time.

[2017-10-10 16:17] bvaughn commented on #109
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-10 16:24] KyleAMathews commented on #85
Oh, and just to make sure my point is clear — I just meant build out separate pages for different versions. So https://reactjs.org/docs/introducing-jsx.html but also https://reactjs.org/v15.6/docs/introducing-jsx.html, etc. Then you'd have a drop down in the docs that list older versions. So most of the site would stay the same but the docs would be versioned.

[2017-10-10 16:38] bvaughn commented on #85
I think we'd have an even harder time doing that. The website source is pretty coupled with the content (eg the location of the markdown files, the nav YMLs, etc).

[2017-10-10 17:06] bvaughn opened #122 "Migrate examples to CodeSandbox"
The docs site currently links to Codepen.io in several places, eg "Try it on CodePen". This is a maintenance burden for a few reasons:
* These pens are versioned separately from the website and so they can get stale.
* Updating them is a hassle. (Currently updates have to be done by @gaearon since he created the pens.)
* OSS users can't contribute fixes without forking the pens, which would make t

[2017-10-10 17:59] CompuIves commented on #122
Absolutely, I'd **love** to collaborate and make this happen!

Both approaches would work. I'd suggest using the same strategy as redux: create an `examples` folder with `create-react-app` projects and link them separately. An example URL would look like this for `examples/portal` folder:

https://codesandbox.io/s/github/reactjs/reactjs.org/tree/master/examples/portal

The advantage of having sepa

[2017-10-10 18:01] gaearon commented on #122
Another thing that’s concerning: we need to look how much JS is downloaded by CodeSandbox vs CodePen. Not everyone has a great internet connection.

[2017-10-10 18:02] bvaughn commented on #122
If you're willing to put together a proof of concept for 1 or 2 pens, @CompuIves, I'd love to review a PR. The Netlify preview will give us a nice way to see how much JS is downloaded too.

[2017-10-10 18:29] viebel commented on #26
Before reducing the footprint, would you like to give it a try on one or two pages of the react documentation and feel how it feels both on desktop and on mobile?

[2017-10-10 19:50] alexkrolick commented on #83
@ishankbahl @bvaughn AJAX is already in the FAQ PR #43, as I pointed out.

If that is too big of a PR to review I can break it up, but let's not duplicate effort.

[2017-10-10 20:11] alexkrolick commented on #75
Closed by #81 I think

[2017-10-10 21:44] #87 closed

[2017-10-10 21:44] bvaughn commented on #26
I think it would be reasonable to put together a minimal proof-of-concept to see how the UX was before we worry too much about performance optimizations, sure.

[2017-10-10 21:56] bvaughn commented on #83
Sorry for missing that note, @alexkrolick. Thanks for pointing it out. Yeah, maybe hold off on doing anything with the AJAX section until after #43 has been reviewed @ishankbahl.

[2017-10-10 23:45] jxom commented on #67
@bvaughn - I guess I'll open a PR to hook the script into CircleCI too! :)

[2017-10-11 01:53] hd719 commented on #24
Hey sorry @bvaughn is this now closed?

[2017-10-11 03:20] thomasyimgit commented on #120
Can I try this? I really love this newly brought feature in React16! :)

[2017-10-11 03:20] thomasyimgit commented on #56
Are we still following up this issue? I'm kind of stuck now;(

[2017-10-11 09:51] phrawzty opened #130 "Ensure Algolia attribution is present on search dropdown"
Hello!

Just wanted to pop in to mention that the Algolia logo in the search dropdown doesn't appear to be visible in Firefox (oddly enough). Screenshot time!

Firefox 56 (OS X):
![image](https://user-images.githubusercontent.com/625232/31432857-f8764b22-ae77-11e7-9004-a5019fdb944f.png)

Check that bottom right corner...

Chrome 61 (OS X):
![image](https://user-images.githubusercontent.com/625232/

[2017-10-11 11:33] olivernn commented on #98
I can only comment for Lunr, but there is a [plugin](https://github.com/MihaiValentin/lunr-languages) (and [docs](https://lunrjs.com/guides/language_support.html)) that allows for search in different languages, so there is at least a start towards localisation.

I'm also happy to help if there are any Lunr specific questions that you need answering, just let me know.

[2017-10-11 13:30] StommePoes commented on #78
If you create a "table" out of something else + ARIA, yeah I would advise testing in a few screen reader + browser combos. Two things are supposed to happen when you ARIA something:
1. the browser is supposed to know what that ARIA means and post the correct names, roles and states to the accessibility tree
2. the assistive technology (AT) is *supposed* to rely on that tree to know what's going on

[2017-10-11 14:58] bvaughn commented on #120
Sure! This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-11 14:59] bvaughn commented on #56
No worries. I'll remove the "in-progress" label if you're stuck. Maybe someone else will have an idea we haven't thought of yet. 😄

[2017-10-11 15:06] bvaughn commented on #98
Hey Oliver. Thanks for chiming in! Will be sure to reach out to you if we decide to go with Lunr and hit any snags. 😄

[2017-10-11 15:20] bvaughn commented on #78
cc @flarnie 😄

[2017-10-11 15:21] bvaughn commented on #78
Whoops 😦  Sorry. Accidental click!

[2017-10-11 15:46] Haroenv commented on #130
Whoops, I didn't test it in FF, it works in Safari though 😃

[2017-10-11 15:56] hd719 commented on #24
Hey @bvaughn yes I am still kind of new to open source and still learning Flow Types, but yes I would like to help out on this particular issue.

[2017-10-11 16:05] bvaughn commented on #24
Okay! Great.

This is a pretty big issue, so my advice is- let's do it a couple files at a time. That way it's easier to review and we don't risk conflicting with every other PR.

[2017-10-11 16:57] flarnie commented on #78
Thanks so much @frastlin for opening the original issue, and @StommePoes, @jenshedqvist for the helpful info and discussion.

It sounds like the lack of accessibility in our examples was really frustrating and could have spread bad patterns - I apologize for that. Glad to hear the concerns everyone brought up, and we'll work on making things better.

- The original issue points out a11y issues wit

[2017-10-11 16:58] hd719 commented on #24
Sounds good!

[2017-10-11 17:02] bvaughn commented on #78
Adding to what Flarnie said- we'll also be happy to review PRs that improve accessibility (if you have any interest in contributing them).

Feel free to ping us ahead of time to discuss any large changes that you might be considering if you think they may be controversial.

[2017-10-11 17:32] bvaughn commented on #67
Thanks @jxom for your help getting this done!

[2017-10-11 17:32] #67 closed

[2017-10-11 17:48] bvaughn commented on #97
Note that PR #100 may have some impact on your work-in-progress @yangshun. Just an FYI.

I also updated the description to call out the hackiness in `mountCodeExample` more explicitly.

[2017-10-11 18:28] thomasyimgit commented on #120
@bvaughn Hi, thanks for giving me this opportunity. I've added all the necessary document. But right now I'm having a problem on referencing that blog post in the document markdown. Could you please help me with that?

This is how I tried but it redirects to the bottom of the new page.

[code]

[2017-10-11 18:41] #2 closed

[2017-10-11 19:55] bvaughn commented on #120
You should be able to link to `/blog/2017/07/26/error-handling-in-react-16.html` (no leading "../")

[2017-10-11 20:09] thomasyimgit commented on #120
Thanks Brian. :smile:

[2017-10-11 20:37] EricSimons commented on #122
Hey all! This seems related to https://github.com/reactjs/reactjs.org/issues/18 — great to see the discussion moving fwd :)

@bvaughn I def agree with your main points here; having pens automatically imported from Github is a great idea. Also totally agree reg scaling problems + @gaearon's comments about payload size; we definitely don't want to hurt the UX of browsing React documentation examples

[2017-10-11 20:42] bvaughn commented on #120
Closed via #136
Thanks!

[2017-10-11 20:42] #120 closed

[2017-10-11 20:56] bvaughn commented on #122
Hey @EricSimons, thanks for weighing in. I'm sure we'd all love to see sample integrations from other online IDEs as well. Would you be interested in putting a PR together? (Or would you know who to reach out to about this?)

I don't think we have any formal "decision making criteria" other than what you listed, but I'll take a stab at things I would consider:

* Minimal boilerplate: Updating exam

[2017-10-11 22:24] hozefaj opened #140 "no install instructions"
Surprised to see the homepage or tutorial page of the docs do not contain install instructions. Also would be helpful to have links to pre-compiled JS builds in case there is a use case for non-npm environments.

Info is inside the tutorial: https://reactjs.org/docs/installation.html#installing-react. Does it make sense to have it on the homepage.

[2017-10-11 23:37] jaredp opened #142 "Docs for older versions of React are unavailable"
All documentation for older versions of React has been deleted. The React documentation website only shows documentation for the current version of React.

Documentation for previous versions of React should be available somewhere. Ideally, there's a version picker at the top of the page to select which version of React you're working with, like python.org (for example).

I am on React@15.4.2.  Al

[2017-10-11 23:50] clemmy commented on #142
Duplicate of https://github.com/reactjs/reactjs.org/issues/85

[2017-10-11 23:51] #142 closed

[2017-10-12 03:53] yangshun commented on #97
Got it. Thanks for the heads up!

[2017-10-12 09:37] yekver opened #145 "Modify Error Boundaries documetation"
It'll be cool to mention in documentation that error boundaries do not work with:
 - Server Side Rendering (see: https://github.com/facebook/react/issues/10442)
 - Event Handlers
 - Async code in render

Also it may be helpful to provide some code how to deal with event handlers, for example:
[code]

[2017-10-12 12:28] renatoselenica commented on #130
I am doing some tests on this and it looks like its an svg issue on how firefox detects the svg passed as background img. I am trying to figure it out but do not know enough about svg.

[2017-10-12 12:47] Haroenv commented on #130
@renatoselenica, oh good catch! I think we forgot to encode the hash

[2017-10-12 13:10] hegelstad opened #147 "Missing section about dead code elimination."
<img width="489" alt="screenshot 2017-10-12 15 09 40" src="https://user-images.githubusercontent.com/6997343/31497439-66378a30-af5f-11e7-953d-5cdb350e5f53.png">

"Dead code elimination" leads to reactjs.org's page on optimizing react for production. But there is no mention of dead code elimination and how to apply it.

[2017-10-12 13:16] gaearon commented on #147
(If you have a project reproducing the problem, and instructions don’t help, please share and we can try to find what’s wrong.)

[2017-10-12 13:36] hegelstad commented on #147
I found that my environment variable in` webpack.prod.js` was overridden by a environment variable in `webpack.common.js`, therefore my DCE didn't run.

Thanks!

[2017-10-12 15:55] bvaughn commented on #140
Thanks for the feedback. 😄

The tutorial links to installation instructions in its "How to Follow Along" section. I don't think they need to be inline. (The tutorial's already pretty long.) It's also nice for them to be discoverable separately from the tutorial for people who don't want to go through the tutorial.

I think Docs > Installation is a reasonable location for installation instructions.

[2017-10-12 15:55] #140 closed

[2017-10-12 15:58] bvaughn commented on #145
Hm. Interesting feedback.

The docs _do_ hint at the fact that event handlers and async code aren't covered:

But I agree that we could be more explicit, particularly about the SSR case. 👍

[2017-10-12 16:36] EricSimons commented on #122
@bvaughn definitely! I'm on the road until tmrw but I can put in a PR for a sample StackBlitz integration this wknd. Looping in @christianalfoni here re: Webpackbin 🍻

[2017-10-12 16:57] alexkrolick commented on #122
Re: download sizes

What if instead of using CRA, you use UMD builds from a CDN (unpkg?) with script tags inside of Codesandbox? Then you can still version control it, but the packages will be cached as you view more examples. It also keeps the examples pretty lightweight.

[2017-10-12 17:09] Runrioter opened #149 "Spend too much time yarning..."
Spend too much time yarning install.
To the end, I have to enter <kbd>CTRL</kbd>+<kbd>C</kbd>.
[code]

So I got this...

[code]

Help me plz 😢

[2017-10-12 17:28] bvaughn commented on #122
I like the idea of caching packages via unpkg.

[2017-10-12 17:44] EricSimons commented on #122
I was actually thinking the same thing re: unpkg builds, and then it got me thinking: why use StackBlitz/Codesandbox at all? All of the current examples are single files and use UMD builds for deps anyways, so the unique value prop of SB/CSB (importing from NPM + bundling features) would be completely unused.

Instead, I'm thinking we create a simple open source playground that's statically hosted

[2017-10-12 18:08] CompuIves commented on #122
Hmm, I think you miss some advantages this way though. When you find a bug or need help you can't fork the code to show what you mean. You also lose discoverability, in the case of codesandbox if users want an example of eg. error boundaries they can use the [search function](https://codesandbox.io/search) to search through official examples. And I think that it's great to show an online editor li

[2017-10-12 18:15] bvaughn commented on #122
I had also considered this- prior to seeing that CodeSandbox had an import-from-GH feature. I've built a couple of REPLs at this point. It wouldn't be hard to just create an endpoint (on the reactjs.org site) that pulls a file from the docs GitHub repo. Had also thought a bit about a custom Gatsy plug-in that converted code examples in the markdown into an editable/live REPL.

There's lots of ways

[2017-10-12 18:21] EricSimons commented on #122
@CompuIves holy cow, react-live is awesome! This is def what we should use for this — super small footprint too (64k!). Love the idea about the hybrid approach w/ ability to fork for experimenting/repro-ing errors.

I also agree about wanting to preserve the ability to fork/etc — I think this is easily solved by just using [Codepen's POST API](https://blog.codepen.io/documentation/api/prefill/) to

[2017-10-12 18:24] bvaughn commented on #122
We're using react-live on the home page for our live editor examples. We've got a small wrapper component, [`CodeEditor`](https://github.com/reactjs/reactjs.org/blob/master/src/components/CodeEditor/CodeEditor.js), around it.

If we used it for this functionality too, maybe we could have a button that exported the code being edited into a CodeSandbox / CodePen / WebpackBin / StackBlitz for saving

[2017-10-12 18:32] CompuIves commented on #122
Sounds great! I already started with a remark plugin this afternoon that
takes a file and shows syntax highlighted code with a CodeSandbox url,
maybe we can make it work with React Live! I have a wedding this evening
but I can share it tomorrow.

I still think it would be best to export to an online editor like
CodeSandbox/Stackblitz/WebpackBin, for the reasons I mentioned
(discoverability, local

[2017-10-12 18:34] EricSimons commented on #122
@bvaughn whaaa I didn't even realize that! I love the idea for a button to export — that def would provide the best UX. Perhaps the button click triggers a dropdown with Codepen/StackBlitz/Codesandbox/etc as export options?

[2017-10-12 18:41] EricSimons commented on #122
CodeSandbox/Stackblitz/WebpackBin, for the reasons I mentioned
(discoverability, local editor feeling, more 'real life' code with
imports). If someone wants to add a dependency that's also easily possible
then.

@CompuIves I think supporting Codepen + SB/CSB/etc as @bvaughn mentioned is the right move. I actually think that Codepen should be the "primary" option for exporting because their UI is s

[2017-10-12 18:42] bvaughn commented on #122
Sure, maybe, assuming these provide an API to easily import the current contents of `CodeEditor`. 😄

[2017-10-12 18:44] EricSimons commented on #122
@bvaughn codepen's post API definitely checks that box! I'm sure the rest of us will be happy to set up similar endpoints as well :)

[2017-10-12 19:22] CompuIves commented on #122
exporting because their UI is so simple & easy to get started with, which
is important because most forks are prob going to be created by devs just
starting to learn React for questions/issues about React itself.

I don't necessarily agree with this, CodeSandbox was built with a focus on
absolute beginners from the start and many beginners have already learned
React using CodeSandbox. We're used o

[2017-10-12 19:50] renatoselenica commented on #149
I think first of all you might want to update your yarn version. Something in an older version might be causing packages to not get downloaded and you are getting the hang on the install.

[2017-10-12 19:51] clemmy commented on #149
What yarn version are you on, and how long are you waiting before it hangs?

[2017-10-12 19:53] bvaughn commented on #122
Maybe we make a "Fork this example" button that opens a small modal that has links to Codepen, CodeSandbox, etc - to give users a choice.

As a user, I might have an account with one already, or a familiarity with it.

[2017-10-12 19:53] renatoselenica commented on #149
He is on v0.27.5. And 1.2 is out. So i think an update is due

[2017-10-12 20:08] alexkrolick commented on #122
It seems like the tricky part with export is getting all the dependencies included in the right way for each target. E.g. Codepen has a "JS" tab that can point to a CDN, and Codesandbox has the "modules" section which points at NPM. If you could guarantee that each target would have exactly one CSS, HTML, and JS file, it might make things significantly easier.

There's also the different Babel env

[2017-10-12 20:11] EricSimons commented on #122
@alexkrolick this actually won't be too hard; unpkg already uses version numbers in the URL so the POST requests made to StackBlitz/CSB/etc could just include an object listing the deps and their versions (for ex, `{ 'react': '16.0.0' }`)

[2017-10-12 20:12] EricSimons commented on #122
^ I'm working on the UI for the dropdown now; will report back once I have a demo!

[2017-10-12 20:48] CompuIves commented on #122
external in its webpack builds? That could speed things up a fair amount
and make it possible to comply with the same schema as Codepen without
adding import statements.

Yep, that should be possible, but might seem confusing since then we get 2
different react templates on codesandbox that look the same, but have small
differences. I also think that using create react app is advantageous since
th

[2017-10-12 20:51] CompuIves commented on #122
I'm not sure if I'm viewing this the wrong way, but using a POST endpoint
feels like a dumbed down version of the git support. It feels like extra
work for a solution that would be more cumbersome for the users and for our
API.

On Thu, Oct 12, 2017, 22:47 Ives van Hoorne <ives.v.h@gmail.com> wrote:

[2017-10-12 21:07] CompuIves commented on #122
Oh! I think I know of something that could work as a combination. I'll send
it tomorrow.

On Thu, Oct 12, 2017, 22:51 Ives van Hoorne <ives.v.h@gmail.com> wrote:

[2017-10-12 21:27] jaredp commented on #85
Is it possible to see the netlify cached older versions of the docs site today, even if they're hard to link to?

[2017-10-12 21:29] jaredp commented on #85
For anyone who comes across this issue trying to find old docs, for now, you can use teh Wayback Machine https://web.archive.org/web/20170624111014/https://facebook.github.io/react/docs/state-and-lifecycle.html

[2017-10-12 22:05] mrscobbler opened #152 "Error: could not load Gatsby config"
I just checked out the latest version of the repo and got this error when trying to run `yarn dev`:

[code]

[2017-10-12 22:33] mrscobbler commented on #152
Issue was my version of Node -- upgraded Node to latest stable version and that fixed the issue.

[2017-10-12 22:33] #152 closed

[2017-10-12 23:08] mrscobbler commented on #83
I just created a pull request for the glossary content: https://github.com/reactjs/reactjs.org/pull/153

[2017-10-13 01:35] Runrioter commented on #149
@clemmy  > 30min, when I was having a meal.
@renatoselenica  Upgrade to 1.2.1, everything is ok.
Thank you, guys.

[2017-10-13 01:35] #149 closed

[2017-10-13 01:38] kaycebasques opened #155 "Replace "caveat" with "warning"?"
Nice docs :)

Just a suggestion to replace "caveat", as seen here in [Introducing JSX](https://github.com/reactjs/reactjs.org/blob/master/content/docs/introducing-jsx.md)

[code]

with a less-fancy / more straightforward word such as "warning"

[2017-10-13 08:05] tricinel commented on #24
I can help as well. Going through a couple of files at time seems like a good idea.

[2017-10-13 09:05] tricinel commented on #71
Hmmm...if we do this, perhaps it'd be worth doing for all those steps, `rm -f src/*` for step 3, `touch src/index.css`, `touch src/index.js` and even have `npm install -g create-react-app`

[2017-10-13 15:57] mrscobbler commented on #80
It looks like this blog post: https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html addresses a lot of the concerns in this particular issue.

Do we want to create a new docs page that summarizes what the blog post talks about and reference the blog post?

[2017-10-13 15:58] renanpvaz commented on #3
I can reproduce this, perhaps I can send a PR improving the message.

[2017-10-13 16:14] bvaughn commented on #24
Okay. I'll mark this issue in-progress.

Communicate here to avoid stepping on each other's toes. 😄

[2017-10-13 16:14] bvaughn commented on #3
Great! This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-13 16:16] bvaughn commented on #80
Perhaps, or perhaps we could add to this page: https://reactjs.org/docs/dom-elements.html

To be honest, I moved this issue from the old repo over the weekend along with a lot of others. I didn't read too deeply into it.

Would you be interested in working on this @mrscobbler ?

[2017-10-13 16:17] bvaughn commented on #71
Would you like to work on this task, @tricinel ?

[2017-10-13 16:21] mrscobbler commented on #80
Sure! I can work on it. I think adding to the existing page would be great.

[2017-10-13 16:23] #109 closed

[2017-10-13 16:24] bvaughn commented on #155
Good suggestion. Would you be interested in submitting a PR for this?

[2017-10-13 16:24] bvaughn commented on #80
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-13 16:36] SadPandaBear commented on #56
I figured out that removing those **margin-left: auto** and **margin-right: auto** from header would fix the problem on most pages.

![screenshot_1](https://user-images.githubusercontent.com/13281562/31556307-c97a88fc-b01a-11e7-997e-0144c5cadbc9.png)

Perharps I can open a PR when i get this to work.

[2017-10-13 16:52] bvaughn commented on #56
cc @joecritch in case he knows of anything that might break as a result of removing those 😁

[2017-10-13 17:04] tricinel commented on #71
@bvaughn, love to. There is however this open PR here: https://github.com/reactjs/reactjs.org/pull/154/files. I thinking the textual addition is good, but if you think it's a good idea, then I can add the shell commands as well.

Let's do it.

[2017-10-13 17:09] tricinel commented on #24
Awesome. I've already opened a PR for it (but forgot to mention the issue number on the commit): https://github.com/reactjs/reactjs.org/pull/156. Sorry about that. Perhaps if it checks out, then it can be merged so that we keep on top of it and avoid conflicts as much as possible?

I'd like to continue working on it though. So I can continue on it next week if that's ok. I'll work through the `src

[2017-10-13 19:00] EricSimons commented on #122
I spent a little time digging into the react-live + dropdown stuff yesterday and I actually think this will be pretty straightforward to pull off. That said, there are a few small hiccups reg the react-live editors that we'd need to sort out. For example, the current react-live examples all end with:

[code]

with the key problem being `mountNode`, whereas in the codepen examples, they pass along

[2017-10-13 19:36] CompuIves commented on #122
Hmm, to be completely honest I don't think that showing a dropdown with different editors is beneficial for the user. It seems like we're falling back to ["suggesting more tools"](https://twitter.com/dan_abramov/status/914183604741316609) like @gaearon said, which is why [this issue](https://github.com/reactjs/reactjs.org/issues/18) started for discussion on how to approach this.

If someone wants

[2017-10-13 20:20] SadPandaBear commented on #56
Well, removing some **margin: auto**'s did the job to me for most pages, but I don't believe removing these rules is what's supposed to be doing on this issue.

I believe this is a **Chrome DevTools Issue** related to zooming in/out from Desktop to Device view mode since that's the only way I could reproduce it (Couldn't reproduce it on my phone though.

**Plus, I want to show this:**

_Non horizo

[2017-10-13 20:38] EricSimons commented on #122
@CompuIves I obv agree that both StackBlitz & CodeSandbox are incredible environments for learners, but the point of this issue is to solve the _maintainers_  current pain points. Per @bvaughn, these are:

Note that there's no mention of Codepen itself being an inadequate solution to their needs. I'm sure they'd also love to let users have access to NPM, bundling, robust error handling and other f

[2017-10-13 21:00] PerStirpes commented on #122
🍿

[2017-10-13 21:13] chriscoyier commented on #122
Hey gang!

Just chiming in here with the CodePen perspective, in case that's helpful. Of course, I totally understand you gotta do what's right for the project and your team.

1) Totally agree that being able to pull code from a repo and inject that into an embedded example is pretty awesome and would be better for a documentation environment that is in a repo anyway. We'd love to offer that, and

[2017-10-13 21:17] christianalfoni commented on #122
Hi guys :-)

Just chiming in with my thoughts after reading through the comments. I think it is a great idea to introduce CodeSandbox and StackBlitz in the React docs, but I do not think it is a good idea to integrate it with the current examples.

I think we all have a lot of assumptions and maybe not that much data backing it up :-) It would be interesting to know how many CodePens are actually

[2017-10-13 21:23] yinghaochan opened #159 "experimental public class fields syntax no longer in TC39"
https://github.com/tc39/proposal-class-public-fields

Writing this fat arrow method used to be stage-2, but has since been removed.
[code]
Also noticed that js-codemod uses this syntax heavily, but it has been removed from the babel stage 2 preset: https://github.com/babel/babel/pull/6088   so it might cause breaking changes to people updating babel

**Are there any suggestions / ideas on what the

[2017-10-13 21:26] CompuIves commented on #122
I think the major focus point should be on the user experience (documentation primarily exists for UX). Of course, maintainability is important, and it should be a priority, but we shouldn't neglect the UX.

Regarding the criteria, I'll cover them point by point in the case of CodeSandbox.

1. Minimal boilerplate:

We don't add much boilerplate. You only have to link to a single file and we infer

[2017-10-13 21:27] fkling commented on #159
As explained in the link, the proposal has been merged with another proposal. So there is no actual issue?

[2017-10-13 21:48] EricSimons commented on #122
@CompuIves I think this is precisely why they want a solution with minimal payload size, fastest download speed, and highest uptime reliability: there is no worse UX than a product that [randomly fails to work as intended](https://github.com/reactjs/reactjs.org/pull/138#issuecomment-335943724).

^ StackBlitz also has it's fair share of random errors (we're all very new products after all), but tha

[2017-10-13 21:56] yinghaochan commented on #159
I'm not sure..

The example in the unified proposal uses:
[code]

instead of
[code]

[2017-10-13 21:59] yinghaochan commented on #159
Also the unified proposal has this example:

https://github.com/tc39/proposal-unified-class-features/blob/master/README.md
## Decorators

ESnext provides decorators to let frameworks and libraries to implement part of the behavior of classes, as seen in the next version of the example:

[code]

Here, decorators are used for:
- `@defineElement` defines the custom element, allowing the name of the e

[2017-10-14 18:29] hzoo commented on #159
@yinghaochan you need to check the original issue in the pr you linked, it just removes it from stage 2 because it moved to stage 3

[2017-10-14 18:51] yinghaochan commented on #159
Thanks. I'm happy to be proven wrong here.

On Sat, Oct 14, 2017 at 11:29 AM, Henry Zhu <notifications@github.com>
wrote:

[2017-10-15 18:54] goodbomb opened #161 "Reactjs.org won't load due to lifecycle error"
Hi,

I'm trying to access reactjs.org, but the page won't load because there's a lifecycle error for `docsearch`.

[code]

[2017-10-15 19:25] EricSimons commented on #122
Just spent the past half hour creating https://github.com/reactjs/reactjs.org/pull/162 that seamlessly syncs example code from this repo to Codepen 👍

I think this elegantly solves the problems @bvaughn outlined about having to update pens manually (now you simply edit JS files in the `examples` folder and everything "just works"), plus it fully covers the key solution requirements regarding uptim

[2017-10-15 20:07] jsonnull commented on #122
I think before moving forward with one integration service, a set of criteria should be decided on to compare alternatives. Download size and uptime have already been mentioned in this thread, and ease of update was brought up as an important factor. Something I personally care about is how long it takes for a sandbox to become runnable+editable, so maybe that time could be considered as well.

On

[2017-10-15 20:47] EricSimons commented on #122
@jsonnull not sure if you were responding to my last comment, but just in case there's any confusion: my PR isn't recommending _any new services_ to integrate with. The React docs _already use_ Codepen for all of their examples — my PR simply allows them to automatically sync example code within this repo to Codepen.

[2017-10-15 21:26] jsonnull commented on #122
Maybe I wasn't following the sentiment of the thread very well, this just struck me as heavy-handed when there are contributors present who are discussing other alternatives. Namely, there's an unresolved thread as to whether CodeSandbox would be more suited to the task due to features and factors which have been mentioned in this thread.

Seeing as there wasn't a consensus as far as I could tell,

[2017-10-15 22:03] dance2die commented on #70
I've created a detailed blog entry on how to setup the environment on Windows 10.
https://www.slightedgecoder.com/2017/10/15/setting-reactjs-org-environment-open-source-contribution/

[2017-10-15 22:13] EricSimons commented on #122
@CompuIves has had a [PR open](https://github.com/reactjs/reactjs.org/pull/138) for a Codesandbox integration for a few days now, though I wouldn't accuse him of being 'heavy-handed'. We're all just trying to throw our best ideas into the mix and see if the maintainers find them useful.

I think that @bvaughn has done a great job of identifying the core problem and listing out the key solution cri

[2017-10-16 02:27] CompuIves commented on #122
I feel like I'm repeating myself here, but I guess I'll bite.

I don't believe the mentioned guidelines are set in stone, but I'll go point by point again for the sake of comparability. Here we go again.

**Minimal boilerplate**
The solution of CodeSandbox has the least boilerplate and is most maintainable compared to the other proposed solutions. Files are synced with CodeSandbox and the document

[2017-10-16 03:43] EricSimons commented on #122
Again Ives, the problem is _not_ your functionality set or usage in the community, as you clearly check those boxes with flying colors. The problem comes down to reliability, because as I said earlier, there is no worse UX than a product that fails to work as intended. This is really, really hard for 1 man (and in our case, 2 man) team to completely nail down. At the current scale of SB/CSB it doe

[2017-10-16 05:29] #130 closed

[2017-10-16 05:31] bvaughn commented on #161
Do you, by chance, have some sort of ad blocker (or other extension) that might be preventing docsearch from loading? I'm unable to reproduce the behavior you described when loading reactjs.org.

[2017-10-16 05:34] bvaughn commented on #159
Thanks for the discussion 😄  Sounds like there's no action needed on this issue though, so I'm going to close it.

[2017-10-16 05:34] #159 closed

[2017-10-16 07:38] damaera opened #164 "Improve focus style for search input and nav sidebar headers"
this look not good for me,
![image](https://user-images.githubusercontent.com/5365957/31600067-3d46a84a-b27f-11e7-9a34-4807c689d0c2.png)

IMO, it need more padding, or maybe when focus, no need to show the outline

[2017-10-16 07:48] damaera commented on #164
in tree menu, this happens too.
![image](https://user-images.githubusercontent.com/5365957/31600503-f13dd96c-b280-11e7-814c-b0de8909c914.png)

[2017-10-16 08:17] damaera commented on #83
while in vue docs there's something like this.
![image](https://user-images.githubusercontent.com/5365957/31600350-4948a6d8-b280-11e7-92f2-e8c7f4af0edc.png)

I think routing should have their own menu, because almost all SPA have router.
state management too.

[2017-10-16 11:20] CompuIves commented on #122
Fair enough, but I'm not alone. We're open source with 22 contributors.

5 days. And this only happened to a small portion of the regular visitors of CodeSandbox. Fix will be out today or tomorrow.

This is a good one! Just deployed the polyfills + support for IE.

That list contains 6 minor bugs. Remaining 55 issues are feature requests.

I said I'd try not to respond, but I had to set the facts

[2017-10-16 12:01] phrawzty commented on #130
Fantastic - thanks everybody!

[2017-10-16 13:15] tricinel commented on #71
@bvaughn, done. Let me know what you think.

[2017-10-16 15:24] bvaughn commented on #122
Hi folks :smile:

I stepped away for the weekend to focus on some personal OSS projects and it looks like I missed a ton of discussion. Sorry for my silence!

I just read through the thread and I have a couple of thoughts (below) but first I want to say that no decision we make here is final. The new website is easy to update and deploy (thanks to Gatsby and Netlify). If we go with younger, less-p

[2017-10-16 16:02] bvaughn commented on #164
The focus outline is important for usability. We can't remove it unless we provide some other, equally noticeable focus style (which we just haven't designed yet).

I agree that the outline is a bit snug for the search input, but I don't think it's all that bad.

The awkward nav sidebar focus sizing is worse though. It's caused by the recent change to wrap the styled header `<div>` in a clickable

[2017-10-16 16:03] bvaughn commented on #164
I'm going to repurpose this issue to be about creating an alternate focus style that can replace the focus outline.

[2017-10-16 16:13] bvaughn commented on #155
Fixed via PR #163

[2017-10-16 16:13] #155 closed

[2017-10-16 16:18] bvaughn commented on #70
@dance2die Your write-up says:

Why is this necessary? Both `prettier` and `flow-bin` are declared as project dependencies in `package.json` and so should be installed within the project.

Also, you should be able to update the "Problem2" section now since your PR has been merged. (Thanks!)

[2017-10-16 16:19] #71 closed

[2017-10-16 16:27] dance2die commented on #70
@bvaughn

You are right. I've just tried it after globally removing `prettier` & `flow-bin`.
Both commands were not found for some reason on computer at home but works fine on different machine.

Thank you, Brian. I will update the blog~

[2017-10-16 16:29] bvaughn commented on #70
Sweet! Ping me once it's updated and I'll tweet a link to it.

[2017-10-16 17:13] dance2die commented on #70
@bvaughn
Thank you, Brian.

I've updated the blog and renamed `Problem 2 -...` to **Verify that the site works**

[2017-10-16 17:45] goodbomb commented on #161
I suppose that's possible. You are correct, though. I can see the site fine on my work machine. Not sure why my home machine was having trouble. The page content would appear briefly (flashing in) before displaying a completely blank page. I'll have to check it again at home and see what else is up.

Thanks.

[2017-10-16 17:45] #161 closed

[2017-10-16 18:13] bvaughn commented on #161
Thanks! Please let me know.

Also you may be interested in issues like #9 which should hopefully improve the UX for the worst case (total failure due to some kind of error).

[2017-10-16 18:15] bvaughn commented on #70
Cool.  Thanks!

[2017-10-16 19:46] bvaughn commented on #24
Yeah 😄

[2017-10-16 19:50] bvaughn commented on #85
Not in the way that I think you're asking. We weren't using Netlify until very recently.

[2017-10-16 20:07] bvaughn commented on #164
Check out PR #167 for a potential improvement.

[2017-10-16 21:19] bvaughn commented on #56
I also now believe this was the cause.

[2017-10-16 22:15] bvaughn commented on #99
Closed via #141

[2017-10-16 22:15] #99 closed

[2017-10-17 11:02] gaearon commented on #25
I don’t think just adding a sentence to the blog post is enough. Originally, we planned to have a whole separate post about this, but @sebmarkbage didn’t find the time to write it.

This is going to keep confusing people over and over, and this behavior should be described somewhere in detail, together with the rationale for it.

[2017-10-17 11:09] gaearon commented on #25
We should probably do a post after releasing 16.1.0 that introduces the “suppress warning” feature and explain the new behavior in more detail there. Then we can link to that post from the `hydrate` API doc.

[2017-10-17 11:13] sergio-toro commented on #25
@gaearon I totally agree on writing a blog post. I'm just updating our app to 16 and I ran into the SSR breaking design when generated markup does not match.

[2017-10-17 15:33] shawninder commented on #84
I added an issue about the docs in the wrong place so it was closed. Hopefully this is the right place: https://github.com/facebook/react/issues/11221

[2017-10-17 15:34] bvaughn commented on #25
@gaearon Can you please update the title and description of this issue to be more reflective of what you're looking for then? (Or alternately, just open a new issue)

[2017-10-17 15:57] #84 closed

[2017-10-17 16:03] gaearon commented on #25
I'm not sure how to update the title. It still describes what I want to happen. I just don't think adding a sentence that's easy to miss to release notes counts as documenting a fundamental change in behavior which hasn't ever changed before (and which people often rely on).

My suggestion is in https://github.com/reactjs/reactjs.org/issues/25#issuecomment-337197717 but perhaps here are other solu

[2017-10-17 16:07] gaearon commented on #25
For example, my blog post about attributes provided such rationale and migration advice for the attribute change. It seems like we're not getting issues about the new behavior which means it was well understood.

On the other hand we've gotten five or six issues about SSR behavior. Even with that new sentence, it is too easy to miss or get confused. So it probably deserves its own blog post.

I'm

[2017-10-17 16:38] bvaughn commented on #164
Closed via #167 and commit 71bc3d9.

[2017-10-17 16:38] #164 closed

[2017-10-17 16:51] bvaughn commented on #25
Sure, the title's fine I guess. It just seems that I incorrectly summarized what we're looking for and it seems like you have a better idea than I do, and so it may save external contributors time and confusion if we update the description to more clearly reflect what we're looking for. 😄

Even if it's just "a core team member should write a blog post".

[2017-10-17 16:52] bvaughn commented on #25
I took a stab at updating the description and the labels.

[2017-10-17 17:17] thomasyimgit commented on #145
@bvaughn I can look into this. So we just explicitly tell the users that these cases are not covered in the `Note` part? Should we add a similar code example as @yekver posted?

[2017-10-17 17:45] bvaughn commented on #145
Thanks @thomasyimgit! This issue is all yours! 😄

I think a note _and_ examples both would be helpful. This is an "advanced" docs page after all so it's okay to go into a bit more detail I think. Use your judgement and we'll be happy to give you feedback!

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries!

[2017-10-17 17:47] bvaughn opened #170 "Explore adding top-level API reference link"
See [this discussion thread on Twitter](https://twitter.com/LedZ3pp/status/919923967787458565) for more context.

[2017-10-17 17:54] bvaughn opened #171 "Explore adding top-level "API" link to header nav"
[This discussion thread on Twitter](https://twitter.com/LedZ3pp/status/919923967787458565) provided feedback that the reference section of the docs may be too buried given the new website's accordion sidebar.

@gaearon proposed we could do something similar to what [Jest](http://facebook.github.io/jest/) and add an "API" link to the header that directly opens the first page of the reference sectio

[2017-10-17 17:59] gaearon commented on #161
This error:

was related to Fair Adblocker in the past.

[2017-10-17 18:15] bvaughn commented on #161
I've also seen reports of that ^

We recently made some improvements in the UX when ad blockers prevent Babel from loading. (Now we still show the code samples, but instead of the compiled+running code we show an error message about ad blocker whitelists.)

I'm not sure what the UX fix for this is but we should at least handle it gracefully once #9 is resolved.

[2017-10-17 18:25] KyleAMathews commented on #171
You could just make the active style programmatic right? Just say any reference doc pages make the API header link active.

Perhaps removing the accordion is an option too?

[2017-10-17 18:32] bvaughn commented on #171
We _could_ but that's what this section from the description was referencing:

Short of moving the header out of the layout _or_ hard-coding a bunch of URLs in it- how would you propose we do this?

[2017-10-17 18:40] KyleAMathews commented on #171
done! https://github.com/reactjs/reactjs.org/blob/master/content/docs/nav.yml :-)

[2017-10-17 18:48] bvaughn commented on #171
Reading between the lines, what you're suggesting seems a bit janky to me.

It would require us to embed nav YML files in the layout component (rather than their template) and do pattern matching based on file names (which might cause conflicts) rather than the root of the URL.

I guess we could combine both techniques (root of the URL + filename) but I still don't like the nav YMLs being used in

[2017-10-17 18:50] shawninder opened #173 "Code snippet in docs unexpectedly throws"
## Bug Report
The docs present an example code snippet which crashes the js process. See https://reactjs.org/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element

In particular, notice the highlighted parts of the code snippet and the first sentence under the snipppet, which reads "React will call the ref callback with the DOM element when the component mounts, and call it with null when it un

[2017-10-17 18:54] KyleAMathews commented on #171
Yeah, you'd import the docs yaml file into the layout component and there, check the current pathname against the list of paths in the yaml file. If the path is in the reference section, you highlight "API".

[2017-10-17 18:56] bvaughn commented on #171
Sure, I understand what you're proposing 😄  it just seems janky to me.

[2017-10-17 19:07] KyleAMathews commented on #171
Give it five minutes Brian! ;-)

[2017-10-17 19:46] Ethan-Arrowood commented on #173
@shawninder are you planning on submitting a PR for this?

[2017-10-17 20:19] bvaughn commented on #173
I don't think this is actually a problem, is it?

The code in `focusTextInput` would only run in response to the input `onClick` handler, which wouldn't be invoked after an unmount (b'c the input would have also been unmounted).

Null checks before accessing refs are a good idea if the code in question might execute _before a mount_ or _after an unmount_ (eg as the result of a timer, promise, or n

[2017-10-17 20:33] gaearon opened #174 "Images in "Thinking in React" are too small"
They used to look more readable than this:

<img width="788" alt="screen shot 2017-10-17 at 9 32 22 pm" src="https://user-images.githubusercontent.com/810438/31687985-bad2c718-b382-11e7-8bfa-357126861a15.png">

[2017-10-17 21:20] shawninder commented on #173
Hmm I guess you are right @bvaughn, the problem I mention would only occur if you place the two inputs in different components, allowing the button to be mounted while the other input is not. So no, @Ethan-Arrowood, I will not submit a PR for this.

[2017-10-17 21:20] #173 closed

[2017-10-17 21:21] bvaughn commented on #173
No worries at all. I appreciate you bringing this to our attention, just in case. 👍

[2017-10-17 21:32] ismamz commented on #174
Hi @gaearon, it seems like Gatsby resize images to show on HD displays. Do you think it's necessary to export the images with high resolution? Or just resize them?

By the way, the lists don't have left padding (in your image for example), is this right? I've submit a pull request fixing that, but maybe it's good for you those styles.

[2017-10-17 21:45] EricSimons commented on #122
@bvaughn thanks a ton for taking the time to read through all the comments & share your thoughts; there was definitely a lot of stuff to parse through in there. I'm actually not quite sure what the next steps are as of right now, so I've taken some time to re-read the thread & distill everyone's remaining q's (w/ context) as I imagine you're prob super busy :)

### 1: Should the docs use the exist

[2017-10-17 22:16] bvaughn commented on #122
Babel is loaded from unpk (https://unpkg.com/babel-standalone@6.26.0/babel.min.js) to share bytes with other REPLs. It's only downloaded for the home page route.

As for "what's next", I see a couple of PRs have been opened relating to this issue. That's great! It's more of a response than I anticipated when I wrote this issue though, and so it's going to take more time to review and consider. Bec

[2017-10-18 01:05] KyleAMathews commented on #174
Probably related to this unfortunately :-(

https://github.com/gatsbyjs/gatsby/issues/2292

[2017-10-18 01:05] jxom commented on #171
@bvaughn - what if another route /api is added, and that route references the 'Reference' category in /docs (could rename this to API Reference imo)? So that the 'API Reference' content is in /docs still, but also in /api?

[2017-10-18 01:22] jxom commented on #171
@bvaughn @KyleAMathews - what if a `content/api` folder (and hence an 'API' nav item) is added, whereby the 'Reference' content in `content/docs` is moved to this new `content/api` folder. And perhaps the Docs page could reference the content in `content/api` for the 'Reference' section? Could do this by `content/docs/nav.yml` referencing `content/api/nav.yml` somehow? That's my two cents. 🤷‍♀️ Ho

[2017-10-18 15:52] bvaughn commented on #174
Thanks for reporting this Dan! It was on my list during early development and I somehow forgot to file it.

And thanks for the link to the associated Gatsby issue, Kyle!

[2017-10-18 15:58] #7 closed

[2017-10-18 16:02] bvaughn commented on #50
Resolved via #52

[2017-10-18 16:02] #50 closed

[2017-10-18 17:29] #75 closed

[2017-10-18 17:30] bvaughn commented on #74
Closed by #88

[2017-10-18 17:30] #74 closed

[2017-10-18 17:36] bvaughn commented on #9
It looks like the remaining TODO here (the search box) isn't being actively worked on so I'm removing the in-progress label.

[2017-10-18 17:38] bvaughn commented on #80
Hey @mrscobbler! Just wanting to confirm that this issue is still being worked on.

No hurry of course. I'm just going through in-progress issues to see if any have been dropped. 😄

[2017-10-18 17:50] mrscobbler commented on #80
Yes! Still planning on working on it. I'll make sure to comment on this if for some reason I can't get to it.

[2017-10-18 18:42] SadPandaBear commented on #56
Not 100% sure, but I think this if this is the real cause, then google/WebFundamentals#2984 can tell us something (couldn't find the related issue in bugs.chromium yet).

[2017-10-18 18:46] bvaughn commented on #145
Resolved by PR #175

[2017-10-18 18:46] #145 closed

[2017-10-18 20:35] Daniel15 opened #179 "Defer window.webpackManifest if possible?"
https://reactjs.org/ has a 17 KB `window.webpackManifest` in a `<script>` tag in the `<head>`. Since it's in the `<head>`, it's render-blocking and the page can't render until after it loads. Is it possible to move this down underneath the content (eg. to the bottom of the `<body>`) so that it's not render-blocking?

### Edit by @bvaughn:

Once gatsbyjs/gatsby/issues/2541 has been resolved, the re

[2017-10-18 20:42] Daniel15 commented on #82
Netlify also has a way of doing country-based redirects. For example, if someone from Italy visits the site and they don't have a language cookie set, we can automatically redirect to the Italian version. We use this on the Yarn site - You can look at how Yarn does it for inspiration

I'd suggest `/<lang>/docs/`, this is consistent with other Facebook projects that use localization:
https://yarnpk

[2017-10-18 20:57] bvaughn commented on #82
Don't have time to fully digest this response now- but wanted to mention that we should ensure whatever change we make does not break pre-existing links (like how [links broke for Jest](https://github.com/reactjs/reactjs.org/commit/174d7890ed91276c85d8e9f985fd742f61f39cca#diff-b7c667cdd69b06a052dd48c32bb585e1)).

[2017-10-18 20:58] KyleAMathews commented on #82
It doesn't need it but it seems simpler perhaps to just query the data through graphql instead of writing it out first then pulling it in.

But yeah, definitely more straightforward to just use the cli.

Would you checkin the translated content?

[2017-10-18 21:01] Daniel15 commented on #82
Jest is limited in what it can do, because it's using GitHub Pages. With Netlify, you can generate some redirects as part of the build. Just need to redirect "raw" URLs (`/docs/foo`) to the localized URL (`/en/docs/foo`), either with `/en/` hard-coded or using Netlify's language redirects that I mentioned earlier (so it'd redirect `/docs/foo` to `/<user's preferred language>/docs/foo`).

We don't

[2017-10-18 21:01] bvaughn commented on #82
No

[2017-10-18 21:02] bvaughn commented on #82
Cool! 👍

[2017-10-18 21:09] Daniel15 commented on #82
Here's how the Yarn site builds all the redirects from non-localized URLs to localized URLs: https://github.com/yarnpkg/website/blob/master/_redirects#L48-L70. Unfortunately it's super difficult to understand because it's using the Jekyll templating syntax. Somehow @thejameskyle got it working though. You could likely make a nicer JS script to do the same thing for the React site.

The resulting r

[2017-10-18 21:22] KyleAMathews commented on #82
@bvaughn wrote a nice [redirect API for Gatsby](https://www.gatsbyjs.org/docs/bound-action-creators/#createRedirect) + added it to [gatsby-plugin-netlify](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/) so this setting up redirects would be pretty easy :-)

[2017-10-18 22:38] gaearon opened #180 "Redirect https://reactjs.org/docs/ to first doc page"
See https://github.com/facebook/react/issues/11274.
We should fix it since we're likely not the only ones still linking to it.

Jekyll used to handle this.

[2017-10-18 23:27] gaearon opened #181 "Update docs referencing src/"
I moved everything from `src/` in https://github.com/facebook/react/pull/11252 so we should update the contribution docs and implementation notes.

[2017-10-19 07:19] smikitky commented on #82
Hi, the official doc in English is being updated frequently, but the contents in Crowdin seems to be out of sync with the newest doc. I think it's still based on the doc several months ago, and I'm seeing no doc for error boundaries ready for translation.

I'm new to Crowdin, but I want to believe there is a way to merge the updates in the original doc and enable people to translate the changed pa

[2017-10-19 15:19] dbnex14 commented on #23
Much appreciated

On Oct 7, 2017 8:20 AM, "Brian Vaughn" <notifications@github.com> wrote:

[2017-10-19 15:23] bvaughn commented on #82
Crowdin docs show support in their REST API to [add](https://support.crowdin.com/api/add-file/), [update](https://support.crowdin.com/api/update-file/), and [delete](https://support.crowdin.com/api/delete-file/) a file- so it seems plausible that we could write a script to do this. Maybe even get CircleCI to automate it anytime there are commits to the `master` branch?

cc @ericnakagawa who has be

[2017-10-19 15:26] SadPandaBear commented on #14
Maybe we can check if **docsearch** is unavailable and change the layout screen e.g asking the user to whitelist the page, clean site data, etc?

[2017-10-19 15:59] bvaughn commented on #14
I think just gracefully disabling the site-search feature is probably a safer bet. This would enable people to access the site docs even if the CDN was down, or they didn't want to add the site to the whitelist, etc.

[2017-10-19 16:15] SadPandaBear commented on #14
Ok, in this case it's just a different behavior from i've mentalized. Instead of displaying a new screen, It should just hide the **algolia docsearch form** away? Tell me what you think on passing a _prop_ to the Header component that says if the **global variable docsearch** is defined?

[2017-10-19 16:31] bvaughn commented on #14
Yeah, something along those lines.

1. Wrap the search input in its own React component
1. Determine if search functionality is disabled (or if docsearch failed to load)
1. Render the component in a disabled state if so

[2017-10-19 16:33] SadPandaBear commented on #14
Can you assign this to me? :)

[2017-10-19 16:38] bvaughn commented on #14
It's all yours, @SadPandaBear. (I can't actually assign to you b'c GitHub won't let me, but I've marked it "in progress" so no one else will take it.)

If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-19 17:08] bvaughn commented on #80
Great! Thanks!

[2017-10-19 17:33] Daniel15 commented on #82
I think we already have something configured with Yarn to automate it - Crowdin is automatically updated when changes are committed to the English versions. I'm not quite sure how it works though.

[2017-10-19 18:22] bvaughn commented on #82
Thanks Daniel. I added a note to the description of this issue to check what Yarn's doing for this.

[2017-10-19 18:24] bvaughn commented on #14
Removing the in-progress label since the docsearch related changes don't resolve the issue originally reported :)

[2017-10-19 18:28] Daniel15 commented on #82
It seems like Crowdin have some sort of Github integration now. I don't think Yarn is using this though: https://support.crowdin.com/github-integration/.

James Kyle set up the Yarn one, it might be worth reaching out to him.

[2017-10-19 18:32] ishankbahl commented on #76
Hi @bvaughn , I would like to work on this one.

[2017-10-19 18:33] bvaughn commented on #76
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-19 22:19] ishankbahl commented on #76
@bvaughn
Just saw that entire API reference has been added to the flow website
( https://flow.org/en/docs/react/types/ ). Is this guide necessary now or not?

[2017-10-19 22:28] bvaughn commented on #76
This issue originally covered TypeScript as well as Flow.

Looks like TypeScript also has a [brief introduction to TypeScript + React](https://www.typescriptlang.org/docs/handbook/react-&-webpack.html) on their site.

Maybe it's okay to have a minimal section for Flow and TypeScript integration and then link to the official docs pages for more details?

[2017-10-19 23:40] thejameskyle commented on #82
Hi hi hi, yes I use https://github.com/thejameskyle/crowdin-sync for Yarn

[2017-10-20 00:24] bvaughn commented on #179
that manifest comes from [Gatsby's injected `props.headComponents`](https://github.com/gatsbyjs/gatsby/blob/25e3c6aee2f769026df1d2e7a1ec27e9c2d63fc1/packages/gatsby/cache-dir/static-entry.js#L143-L155). Without rendering the injected prop, production builds won't render correctly.

That being said, maybe Gatsby can move this to another injected prop (like `postBodyComponents`)? It looks like @Kyle

[2017-10-20 00:44] KyleAMathews commented on #179
I vaguely remember it causing some sort of trouble but yeah — we should do this. Created (linked) issue).

[2017-10-20 17:22] obetomuniz commented on #181
Can I work on it?

[2017-10-20 18:51] SadPandaBear commented on #9
Hey @bvaughn I think #186 is fixing this now.

[2017-10-20 19:24] mateoholman commented on #83
I'll take a stab at creating a guide for publishing a component if no one is currently working on it?

[2017-10-20 19:43] bvaughn commented on #9
We've added specific error-handling for failed docsearch and Babel loads, but this issue still remains open to add at least one general purpose error boundary around the site in case of other, unexpected errors.

[2017-10-20 19:44] bvaughn commented on #83
Ok @mateoholman

[2017-10-20 20:02] gaearon commented on #181
Sure!

[2017-10-20 20:03] gaearon commented on #181
I updated contribution docs already. For implementation nodes, there is no easy fix since those files are deleted by now. So maybe you could just cut out the paragraph with links to specific files.

[2017-10-22 00:19] gaearon opened #192 "Broken link in the blog"
https://reactjs.org/blog/2014/10/16/react-v0.12-rc1.html#react-elements

Leads nowhere.

[2017-10-22 00:53] bvaughn commented on #192
Just to clarify: This task is to fix the broken link to point to `/blog/2014/10/14/introducing-react-elements.html` (eg fix the "introducting" typo)

[2017-10-22 00:54] bvaughn commented on #180
This was resolved by #184 :)

[2017-10-22 00:54] #180 closed

[2017-10-22 00:55] bvaughn commented on #170
Whoops. Looks like a duplicate of #171 but without the context from the discussion. Sorry!

[2017-10-22 00:55] #170 closed

[2017-10-22 01:23] emmafallancy commented on #192
Can I voluntarily take this?

[2017-10-22 01:32] bvaughn commented on #192
This issue is all yours< @emmafallancy 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-22 01:37] emmafallancy commented on #192
Yeay!!! Thanks! 🎉

[2017-10-22 03:52] brijeshprasad89 commented on #192
@emma let me know if you change your mind

[2017-10-22 08:37] ishankbahl commented on #76
@bvaughn  made a PR for this two days back.

[2017-10-22 08:59] ishankbahl commented on #83
@bvaughn Can I take snapshot testing?

[2017-10-22 11:10] gaearon commented on #192
Hmm. The issue I see is that the link points to:

https://blog/2014/10/14/introducing-react-elements.html

Which isn't a real URL.

[2017-10-22 11:13] emmafallancy commented on #192
@gaearon Yup. There was a typo there. Also, I got question regarding the related matter as well. I've made a PR just now at #193 and a question there too.

[2017-10-22 11:30] gaearon commented on #192
Thanks for the PR! I merged it as is but I want to understand two things:

1. Why existing `redirect_from` that you mentioned didn't work. On the old website it seemed to work (and this is why we didn't have this issue earlier).

2. Why, if the website can't find something, it redirects to such a strange URL (with `blog` domain) rather than to our 404 page.

I think we need to keep the issue open

[2017-10-22 11:39] emmafallancy commented on #192
@gaearon yes, I would like to give it a try. Didn't dig further about this just now. Only just found out about the behaviour in question 2. I brought up question 1 is because since we fix the problem for the broken link, was wondering if we ever still need the redirect.

[2017-10-22 13:08] emmafallancy commented on #192
@gaearon I've made a PR #194 which leads to the issue in question 2 that you have just now.

[2017-10-22 16:09] bvaughn commented on #83
Sure @ishankbahl

[2017-10-22 20:31] bvaughn commented on #98
Iterated on this a bit more today. Created one plug-in that integrates with Lunr and one that integrates with js-worker-search. Both approaches _work_ but the resulting index is quite large, even if I stem all words and filter duplicates ahead of time (which kills TF-IDF ranking). I'm starting to think this may not be feasible. ☹️

[2017-10-22 20:46] bvaughn commented on #192
Fixed via #192 and #194

[2017-10-22 20:46] #192 closed

[2017-10-22 20:55] bvaughn commented on #98
I think I'm going to give up on this one for now. Making client-side search as useful as remote search just requires too much static data to be loaded in the browser, at least for a site as large as reactjs.org. Without the robust data, I can't implement useful features like:
* TF-IDF ranked results (extra important since we're only showing a couple of results)
* Inline results text-snippets with

[2017-10-22 20:55] #98 closed

[2017-10-22 21:06] ishankbahl commented on #83
@bvaughn What outline do you suggest for this guide?

[2017-10-22 22:58] bvaughn commented on #83
No clue 😄 Haven't thought about it any. Just migrated this issue from the old GitHub repo.

[2017-10-23 18:57] olivernn commented on #98
@bvaughn ah, thats annoying!

It sounds like you've already spent a bunch of time trying to get this to work, is it possible to share the current state in a branch of something?

Also, just for interest, was it the serialised indexes that were too large? What size did they end up being? How many documents were part of the index?

I'm not sure there is much I'll be able to do to reduce the size (th

[2017-10-23 19:44] bvaughn commented on #98
I _could_ push my works in progress I guess, if you're _really interested_ 😁  They were a bit dirty, since they were just proofs-of-concept.

In both cases, yes it was the index size. As for what I included- I indexed all markdown content.

For lunr, I built an index of title + body text (with the HTML tags removed) and then dumped it to JSON (via `JSON.stringify(index.toJSON())`). Then I hydrated

[2017-10-23 19:47] ferdaber opened #201 "ReactDOM.findDOMNode should be updated with React 16 behavior"
Back in the dark times of when a render function was only able to return a single element, `ReactDOM.findDOMNode` was predictable in that it will only return one and only one element.

With the introduction of being able to return multiple fragments in React 16, the public API docs should be reflected to clarify that it returns the first fragment in the array.

I'd be happy to submit a PR if folks

[2017-10-23 19:49] bvaughn commented on #98
Here's the guts of my implementations (not including the `require.ensure` runtime loading or anything, just the Gatsby plugin bits). Keeping in mind it's not an even comparison since the lunr index supports results ranking.

# lunr
[code]
# js-worker-search

[code]

[2017-10-23 19:52] bvaughn commented on #98
As for next steps, I found myself thinking about the types of information I would need to add back into the index in order to support more complex drop-down results display, and how I could maybe offset the increased size by dividing the indexes up into chunks and runtime-loading them based on the current search string. It was really starting to feel over-engineered at this point. Still a fun proj

[2017-10-23 19:53] gaearon commented on #201
Sounds great. It can also return null for empty components.

[2017-10-24 02:09] arwyatt commented on #98
@bvaughn what size would you like to see the index be =<?

[2017-10-24 03:18] bvaughn commented on #98
Well...it's hard to say.

If I could add some half decent ranking in to my current data, then I could chunk the indexes up and JIT load them as a user typed. I think that's doable without a ton of effort, but... I'm not sure if people will really miss the inline context snippets Algolia shows for matching text. They are pretty useful.

[2017-10-24 06:56] olivernn commented on #98
The code you have for Lunr looks idiomatic, I can't speak for js-worker-search code, but in both cases I doubt that _how_ you build the index is going to have any dramatic impact on the index size.

Was this after compression? The structure of the serialised index probably lends itself reasonably well to some savings from gzip. Looking at the reactjs.org site I see that _all_ assets are less than

[2017-10-24 16:18] bvaughn commented on #98
No. Both of the sizes I mentioned above were just size-on-disk. Gzip compresses the Lunr index from 5,417,832 -> **721,470** and it compresses the js-worker-search index from 604,671 -> **208,637**.

Yeah, it's possible with both search libs- but requires adding _significantly_ more metadata to the index- which would in turn require splitting the index into chunks- which would add complexity, etc.

[2017-10-24 18:32] bvaughn commented on #201
Thanks for reporting this issue @ferdaber! It's all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-24 19:14] LaFrish opened #207 "reactjs.org not work"
The site is down.

[2017-10-24 19:22] clemmy commented on #207
https://isitdownorjust.me/reactjs-org/ Seems to be working for me.

[2017-10-24 21:31] gaearon commented on #207
It works for me too. Can you share screenshot of the browser with DevTools open?

[2017-10-24 21:36] bvaughn commented on #14
Marking as in-progress for @emmafallancy 👍

[2017-10-25 18:21] gaearon opened #209 "Clicking on a link doesn't reset scroll if I came from search results"
I'm on https://reactjs.org/docs/how-to-contribute.html#contribution-prerequisites.

I'm clicking on this:

<img width="577" alt="screen shot 2017-10-25 at 7 20 56 pm" src="https://user-images.githubusercontent.com/810438/32015652-a3f6bd1e-b9b9-11e7-98d4-e07615d43c00.png">

I end up in the middle of the linked page:

<img width="1020" alt="screen shot 2017-10-25 at 7 21 06 pm" src="https://user-ima

[2017-10-25 18:24] gaearon commented on #209
Hmm. It's not so simple.

This only happens if I come to the original section through search results.

For example:

<img width="595" alt="screen shot 2017-10-25 at 7 23 44 pm" src="https://user-images.githubusercontent.com/810438/32015789-0c6146bc-b9ba-11e7-91b1-1dd3a0d9def5.png">

Now if I go to that page, scroll to the bottom, find a link to the next page and click it:

![](https://user-images.

[2017-10-25 19:01] abiduzz420 commented on #209
This seems like an interesting bug. I would like to fix this bug and shall update soon if any progress is made.

[2017-10-25 21:37] mateoholman commented on #83
Created a new PR for the "Publishing a Component" guide - #211.

[2017-10-25 21:37] bvaughn commented on #209
This issue is all yours, @abiduzz420! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-10-25 21:42] mateoholman commented on #83
I'll try to tackle the community section per the recommendations in  facebook/react#7117 next if no one is currently working on it?

[2017-10-25 21:43] bvaughn commented on #83
It's yours, @mateoholman

[2017-10-25 22:21] #209 closed

[2017-10-25 22:21] bvaughn commented on #209
Thanks @abiduzz420!

[2017-10-25 22:24] bvaughn commented on #207
Hi @LaFrish! I'm sorry to hear that you were having problems with the website. I wonder if it could potentially be related to issue #14?

We'd love to learn more about what you're seeing. If you have the time to send us a screenshot of your developer console, please do. Any error information logged there could help track down the issue.

[2017-10-26 06:38] emmafallancy commented on #14
@bvaughn I've made a fix regarding the error when cookies disabled directly at [Gatsby #2614](https://github.com/gatsbyjs/gatsby/pull/2614)

I am not particularly sure if there's any way that error boundary would be possible to do the fix on preventing the page being unmounted since the error itself happened within the `ScrollContext`, which is being used in router middleware. I've tried implement

[2017-10-26 13:59] ebgranger opened #212 "Inheritance code example..."
There's no code example in the Inheritance section. I think it'd be great to show a simple anti-pattern so other devs might have some familiarity with the smell.

[2017-10-26 14:01] gaearon commented on #212
I'm generally hesitant to add these because people tend to copy and paste what they see without really reading.

[2017-10-26 17:47] bvaughn commented on #207
I don't think this issue is actionable so I'm going to close it for now. Would still love to learn more about what went wrong though. We'll re-open the issue if more info becomes available!

[2017-10-26 17:47] #207 closed

[2017-10-26 17:52] ebgranger commented on #212
I can understand that for sure @gaearon. Do you happen to have any links that might show inheritance in React as an anti pattern, and the issues that can arise?

I feel like I have a decent understanding/appreciation of composition, but I was looking for a more fleshed out example of the plights of inheritance.

[2017-10-26 20:32] gaearon commented on #212
[code]

[2017-10-27 01:34] M-ZubairAhmed commented on #73
Hi,
i have made this simple [gist](https://gist.github.com/M-ZubairAhmed/43a548bd14d068a263cd8327f48d36c8) to demonstrate simple react without jsx or es6 by following similar approach of 'getting started with Vue.js" guide.
Is this something you are looking for?

[2017-10-27 04:47] quadruplejump commented on #73
@M-ZubairAhmed that would've been helpful months ago :D Do you need the code in the JS panel of the pen? render is being called twice with no obvious reason why

[2017-10-27 05:56] M-ZubairAhmed commented on #73
yes you are right I don't need one more render method. So does this solve the issue ? or should I include anything more.

[2017-10-27 14:48] el1f commented on #164
Honestly I think that the sidenav would use the same love that the topnav received, with something like a dedicated focus style. Can I work on that?

[2017-10-27 14:55] el1f commented on #56
Can't reproduce on any of these devices:
- iPhone 6 running iOS 11.0.3 on Safari
- Oneplus Two running Android 7 Nougat on Chrome
- Chrome DevTools

Is this still relevant or is it just that I'm unable to reproduce it?

[2017-10-27 15:34] mateoholman commented on #83
After doing some prep/research, I see two approaches to the community section. Adding a new Resources section to the docs page similar to the [React Native Docs](https://facebook.github.io/react-native/docs/more-resources.html) or updating the [React Wiki](https://github.com/facebook/react/wiki). Both have been suggested in previous issues - any preference @bvaughn ?

[2017-10-27 19:22] dc4444 opened #217 "New to React. Trying to run the Hello World from the Create React App"
I started "Create React App" using npm. I then edited the App.js file - I added the code below for the Hello World and saved it. But it does not work.

I get:

[code]
------------------------------

Note: The documentation does not explain how to do the examples using the "Create React App". It works if I follow the section for "Trying Out React". I use my own text editor, using the download HTML

[2017-10-27 20:03] gaearon commented on #217
It would have worked if you edited `src/index.js` instead and just left it:

[code]

There was no need to open `App.js` because the concept of components (which App is) was not explained until later. Just trying to put this code inside `class App` could not work.

Do you have ideas on how to fix this in the documentation?

[2017-10-28 01:59] bvaughn commented on #217
I'm having a little trouble understanding this feedback.

It sounds like you're asking for more detail about how to get started with create-react-app. I'm curious if you checked out the ["getting started" documentation for that project](https://github.com/facebookincubator/create-react-app#creating-an-app) and if you think it could be improved any?

We currently link to that documentation from the

[2017-10-28 15:10] kazijosh opened #219 "Translations"
Hi there!

Are there any plans to add translated content? It would be great to have the docs written in more than one language.

[2017-10-29 15:49] wKovacs64 opened #221 "Document requirements for component names in error boundary stack traces"
Should the requirements for meaningful component names in error boundary stack traces be documented in either the [JavaScript Environment Requirements](../blob/master/content/docs/reference-javascript-environment-requirements.md) (with the other polyfills) or the [Error Boundaries](../blob/master/content/docs/error-boundaries.md) section (as it's specific to these and polyfilling isn't the only op

[2017-10-30 13:43] bvaughn commented on #219
Yup! This is being tracked via issue #82. There's a Crowdin project in-progress for translating, if you'd be interested in helping out.

[2017-10-30 13:43] #219 closed

[2017-10-30 15:44] dc4444 commented on #217
gaearon...that worked...fyi, it would be nice if the instructions stated to add the code to the src/index.js.

[2017-10-30 16:33] bvaughn commented on #221
Hm. I don't really think this belongs in the [JavaScript Environment Requirements](https://github.com/reactjs/reactjs.org/blob/master/content/docs/reference-javascript-environment-requirements.md) section, since it isn't a "requirement" so much as a handy debugging tool.

Perhaps a note could be added under [Component Stack Traces](https://reactjs.org/docs/error-boundaries.html#component-stack-tra

[2017-10-30 16:35] wKovacs64 commented on #221
Yeah, that sounds reasonable @bvaughn - thanks. I'll try to throw a PR together.

[2017-10-30 16:35] bvaughn commented on #217
Hi @dc4444 👋 Not sure if you saw my question above, but which instructions are you referring to? The ones one reactjs.org or the README for create-react-app?

[2017-10-30 19:20] dc4444 commented on #217
HI...on reactjs.org

________________________________
From: Brian Vaughn <notifications@github.com>
Sent: Monday, October 30, 2017 12:35 PM
To: reactjs/reactjs.org
Cc: dc4444; Mention
Subject: Re: [reactjs/reactjs.org] New to React. Trying to run the Hello World from the Create React App (#217)

it would be nice if the instructions stated

Hi @dc4444<https://github.com/dc4444> 👋 Not sure if you sa

[2017-10-30 21:14] #221 closed

[2017-10-30 21:19] bvaughn commented on #217
Gotcha. Thanks for clarifying!

My opinion on this is that it does not make sense to add additional instructions to reactjs.org that are specific to the template `create-react-app` uses. We already link to that project's [README](https://github.com/facebookincubator/create-react-app#create-react-app-) which includes things like a "Getting Started" guide.

I think I'll close this issue for now thou

[2017-10-30 21:19] #217 closed

[2017-10-31 18:08] bvaughn commented on #164
Please feel free to submit a PR, @el1f

[2017-10-31 18:10] bvaughn commented on #56
I think it's safe to close this issue given the zoom comments above and the general difficult reproducing it. 👍 Thanks all!

[2017-10-31 18:10] #56 closed

[2017-10-31 18:11] bvaughn commented on #83
👋  Hi @mateoholman. Sorry for the slow response time but I've been traveling.

I'm personally more a fan of the community page/section because it's more open for community contributions.

[2017-11-01 16:45] clemmy commented on #85
@bvaughn Is there any work currently being done on this? I can help out with this. 🙂

[2017-11-01 16:48] bvaughn commented on #85
This issue is all yours, @clemmy 😄  Feel free to chat with me if you want to discuss ideas or anything.

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-11-01 16:49] KyleAMathews commented on #174
This was fixed by @bripkens in https://github.com/gatsbyjs/gatsby/pull/2713

[2017-11-01 16:56] bvaughn commented on #174
Cool beans. Thanks for the update, @KyleAMathews!

[2017-11-01 17:24] otramony opened #232 "Does react has an ECCN?"
Hello. Our team would like to use/include your library in our product, and since we export outside of the U.S., we're required to provide ECCN (Export Control Classification Number) information for all 3rd-party libraries that may use/include encryption. Thanks.

[2017-11-01 20:58] mateoholman commented on #83
:wave: Hi @bvaughn . No worries, I had been scrubbing some of the outdated / broken links from the previous section. I should have a PR ready for review in a few days. :beers:

[2017-11-01 22:58] kaycebasques opened #235 "CSS recommendations?"
I'm finding it strange that the site doesn't give any guidance on how to handle styling!

You probably don't enforce any particular approach, but it'd be helpful to explicitly say that, and to provide a list of popular approaches.

[2017-11-01 23:58] M-ZubairAhmed commented on #9
Hi @bvaughn I see that error boundaries around components for handling add block and other issues are added.
I would like to understand

do you mean would you like to place an error boundary around the main app component or around each single component?

[2017-11-02 03:33] alexkrolick commented on #235
I added a little bit of styling guidance to the FAQ, which is in PR #43

[2017-11-02 05:33] viebel commented on #26
Hello guys,

I've been working on an integration of Klipse using [gatsby-plugin-klipse] (https://github.com/ahmedelgabri/gatsby-plugin-klipse) written by @ahmedelgabri. Here is the Work-In-Progress pull request https://github.com/reactjs/reactjs.org/pull/236
Let's continue the discussion there.

[2017-11-02 14:19] bvaughn commented on #14
Thanks for all of your hard work on this issue, @emmafallancy.

[2017-11-02 14:19] #14 closed

[2017-11-02 14:21] bvaughn commented on #235
Marking this one in progress since @alexkrolick already has PR #43

[2017-11-02 18:42] alexkrolick commented on #29
@bvaughn this one can be marked in-progress as well 🗂

[2017-11-02 19:30] clemmy commented on #85
@bvaughn Upon further investigation, I'll be dropping out of this issue. ☹️ Maybe later on when I have more bandwidth.

[2017-11-02 21:44] bvaughn commented on #232
Hi @otramony,

I don't know the answer to this, but I'll ask internally and get back to you.

[2017-11-02 21:46] bvaughn commented on #85
Cool 👍  Thanks for the update

[2017-11-02 21:47] bvaughn commented on #29
Done!

[2017-11-02 21:47] gaearon opened #238 "Text of challenge 1 in Tutorial is unclear"
Migrated from https://github.com/facebook/react/issues/10880; originally reported by @samuele-artuso

**Do you want to request a *feature* or report a *bug*?**
A bug.

**What is the current behavior?**
The first challenge at the end of the tutorial says `Display the move locations in the format "(1, 3)" instead of "6".`

* It suggests that we are already displaying the locations of the moves, but

[2017-11-02 23:11] emmafallancy commented on #14
@bvaughn No probs 👍 Glad that it worked well

[2017-11-03 16:55] ptrmelko10 opened #240 "Link to Babeljs.io repl incorrect."
The "See full expanded version" link to babeljs.io in content/tutorial/tutorial.md is not interpreting the html character codes for non-alphanumeric characters correctly in production. The link is working correctly when selected from within the markdown file in the repo.

This is what is loaded into babel in production:
[code]
Product URL snippet: `className%253D%22shopping-list`
Markdown URL snip

[2017-11-03 18:43] gaearon commented on #240
Wanna send a fix?

[2017-11-03 19:45] ptrmelko10 commented on #240
Sure, I'll take a look over the weekend. Do the markdown files go through some sort of build process  before it hits production?

[2017-11-03 20:34] bvaughn commented on #240
Thanks for catching this!

I had an idea (mentioned [here](https://github.com/reactjs/reactjs.org/pull/150#discussion_r146117461)) of auto-generating the links during build, but currently they are hard-coded.

[2017-11-03 20:35] bvaughn commented on #240
This issue is all yours, @ptrmelko10! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-11-05 13:33] BookOfGreg opened #241 "Links in without extension disable navigation"
If you come from [google](https://www.google.co.uk/search?q=react+server+side+rendering&gws_rd=cr&dcr=0&ei=QhP_Wc6sL4mosAfCprgI) on "react server side rendering" you are sent to `https://reactjs.org/docs/react-dom-server` instead of `https://reactjs.org/docs/react-dom-server.html`.

And all links on the page are disabled with this console warning.

<img width="720" alt="screen shot 2017-11-05 at 1

[2017-11-05 15:06] bvaughn commented on #241
Interesting. I wonder if this is a known Gatsby issue or if we're misusing it? Possibly related to gatsbyjs/gatsby/issues/1838.

I _think_ Gatsby auto-redirects without extensions. I _don't think_ it's expected that things would break like this in that case.

[2017-11-05 23:39] goleary opened #242 "Tutorial side bar links highlighting incorrectly"
1. goto https://reactjs.org/tutorial/tutorial.html
2. click a scetion on the right hand nav
3. the clicked section highlights, you get taken to it and then the section before the clicked one become highlighted.

looks like this is happening for all section links

Env: windows 10, Chrome Version 61.0.3163.100 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/16123225/324

[2017-11-06 03:57] alexkrolick commented on #29
Another good topic would be debugging. See a lot of people asking Q's in Reactiflux that could really benefit from some basic debugger guidance.

[2017-11-06 12:17] drcmda opened #243 "Making context official"
After context being in React for such a long time, can someone please remove the "experimental" clause in the React docs as it keeps 3rd party maintainers from allowing us to use it.

One such case is react-redux, where connect blocks context in order to prevent liability concerns. It forces us to inject objects and propagate down the tree again. https://github.com/reactjs/react-redux/issues/289 A

[2017-11-06 13:08] bvaughn commented on #243
Context has been in React for a long time, but it is still an unofficial API that we generally recommend _against_ using (except in special cases). The team has plans to redesign context eventually- making it a part of the official, supported API- but until we do that, context as it is currently implemented (with its current flaws) will remain experimental.

See related issue facebook/react/issues

[2017-11-06 13:08] #243 closed

[2017-11-06 13:18] bvaughn commented on #242
Hm. Interesting.

I am unable to reproduce the behavior you're describing using any of the following OS+browser combinations:
* OS X using Chrome 62, Firefox 56, or Safari 11
* Windows 8 using IE 11 or Chrome 62
* Windows 10 using Edge or Chrome 62

I'll leave this issue open for a bit to see if others are also seeing it.

Are you doing anything other than what you've described, like scrolling a l

[2017-11-06 14:41] bvaughn opened #246 "Improve embedded coding examples"
Follow-up for #245:
* Import more of Dan's Codepen examples to the [new `codepen` folder](https://github.com/reactjs/reactjs.org/tree/master/codepen).
* Create a custom markdown tag (eg `[codepen:foo/bar](baz)`) that generates our Codepen links with default "Try it on Codepen" text. We could use the [`gatsby-remark-use-jsx`](https://github.com/reactjs/reactjs.org/tree/master/plugins/gatsby-remark-

[2017-11-06 14:41] bvaughn commented on #122
The feedback and community contributions for this issue have been fantastic. I'd like to express a heartfelt thanks to everyone who participated! I hope we continue this discussion moving forward.

I've spoken directly with @EricSimons and @CompuIves and for the time being, we're going to move forward with the more iterative Codepen solution (merged via #245). I'm going to close this issue since t

[2017-11-06 14:41] #122 closed

[2017-11-06 16:04] bvaughn commented on #26
I'm going to close this issue for now, for the reasons I mentioned in [my comment on PR #236](https://github.com/reactjs/reactjs.org/pull/236#issuecomment-342194116). I'm happy to keep talking about and re-evaluate any new ideas of proofs of concept though! ❤️

[2017-11-06 16:04] #26 closed

[2017-11-06 16:04] NoahCarnahan opened #247 "Right side navigation shows users the wrong page"
- Navigate to https://reactjs.org/docs/hello-world.html
- Click "Handling Events" in the right side navigation
- Observer that the user is shown the "Portals" page, not the handling events page

[2017-11-06 16:06] bvaughn commented on #247
Can't reproduce this behavior. Are you sure you clicked the correct nav entry?

[2017-11-06 16:08] NoahCarnahan opened #248 "Javascript errors on initial page load of https://reactjs.org/docs/installation.html"
- Navigate to https://reactjs.org/docs/installation.html in a web browser
- A javascript error is shown in the developer console (happening with both chrome version 61.0.3163.100 and firefox 56.0)

I've noticed other js errors throughout the docs that seem to break the right side page navigation.

[2017-11-06 16:10] bvaughn commented on #238
Closed via 330e26e

[2017-11-06 16:10] #238 closed

[2017-11-06 16:11] bvaughn commented on #248
Like #247, I am also unable to reproduce this.

Could you provide additional information about your OS + browser + plugins you have installed to help identify why you are experiencing these unique issues?

[2017-11-06 16:12] NoahCarnahan commented on #247
Just double checked and I am indeed clicking on the "Handling Events" nav item. For reference, this is with Firefox 56.0 (64-bit) and Chrome version 61.0.3163.100 (Official Build) (64-bit).

[2017-11-06 16:15] bvaughn commented on #212
I don't think we plan to add an anti-pattern example to the website, for the reason Dan mentioned.

There are some sources online that go into greater detail about why composition can be better than inheritance, eg:
* https://en.wikipedia.org/wiki/Composition_over_inheritance
* http://asserttrue.blogspot.ie/2009/02/inheritance-as-antipattern.html

[2017-11-06 16:15] #212 closed

[2017-11-06 16:17] NoahCarnahan commented on #248
Sure. OS is MacOS 10.12.3. I'm also experiencing this bug with Chrome in incognito mode with no extensions enabled.

[2017-11-06 16:19] bvaughn commented on #247
Hm. I'm not able to reproduce this on any browser (or operating systems) I have to test on. I think we would probably have heard of this before if it was a widespread problem. I suspect there's something unique about your system, given the fact that you've also reported another issue (#248) that I've never seen before.

[2017-11-06 16:23] bvaughn commented on #248
OS X 10.12.6 here. Can't reproduce with Chrome 62.0.3202.62.

I did actually see the behavior you described initially when testing with Firefox 56.0 and Safari 11.0, but after refreshing the pages (as well as in incognito mode) I was not able to reproduce.

This makes me suspect a problem in a version of the docs that you may have cached on your computer.

[2017-11-06 18:11] siddharthlatest opened #249 "Navigation breaks down on a page without .html extension"
Hey, so if you go to a page like https://reactjs.org/docs/handling-events (without the .html suffix) and try navigating to any other page from the sidebar navigation or anchor tags in the page, it just doesn't work. Any ideas?

[2017-11-06 22:43] clemmy commented on #82
I'm interested in helping out with this as well. 🙂 @KyleAMathews @Daniel15 Do you guys have a preference on whether we do this through Github integration or just in time (during the build)?

[2017-11-06 22:44] Daniel15 commented on #82
I don't think it really makes sense to commit translations to the repo, since CrowdIn already tracks changes to them. Either way is fine though, I don't have a strong opinion about it.

[2017-11-07 03:09] mateoholman commented on #83
@bvaughn Created a PR for the updated community section  [PR #252 ](https://github.com/reactjs/reactjs.org/pull/252). Mind if I take the "Animation with React Motion" guide next?

[2017-11-07 09:53] samthecake opened #254 "Add Animation Add-Ons page to navigation and search"
https://reactjs.org/docs/animation.html

Can't access this page from docs navigation and search

[2017-11-07 10:26] bvaughn commented on #83
Sure @mateoholman. It's yours.

[2017-11-07 10:30] bvaughn commented on #82
I think we have a couple of options that may be worth exploring. I have been leaning toward using the Crowdin API to pull data at build-time. If this turns out to be slow (either the API or the resulting Gatsby build time) then we can provide a mode to disable it for local dev use.

[2017-11-07 10:46] bvaughn commented on #249
Duplicate of #241 😄 Let's talk there.

[2017-11-07 10:46] #249 closed

[2017-11-07 10:49] bvaughn commented on #248
I'm going to close this issue for now because I suspect it's something specific to your setup and I'm not sure what action I can take given that I'm unable to reproduce it. If someone else reports this issue, or if you're able to provide additional info to help track it down, we'll re-open!

[2017-11-07 10:49] #248 closed

[2017-11-07 10:49] bvaughn commented on #247
I'm going to close this issue for now because I suspect it's something specific to your setup and I'm not sure what action I can take given that I'm unable to reproduce it. If someone else reports this issue, or if you're able to provide additional info to help track it down, we'll re-open!

[2017-11-07 10:49] #247 closed

[2017-11-07 10:51] bvaughn commented on #240
@ptrmelko10 Have you started on this, by chance? If not I'd like to pick it up. After working on #251 I have a pretty good idea of how we could auto-generate links during build in the way I mentioned.

[2017-11-07 11:10] bvaughn commented on #246
I'm not sure that adding direct links to view example source files in GitHub is worth doing. (I'm not sure it will actually address the accessibility concern.) So I'm going to hold off on doing this unless someone who knows more about this than I do confirms it as a worthwhile course of action.

[2017-11-07 11:37] bvaughn commented on #240
I'm going to toss up a PR that's related to this, but a bit broader, just because I'm thinking about it at the moment. I'll CC you on it for discussion! 😄

[2017-11-07 11:53] NoahCarnahan commented on #247
Sounds good, thanks for looking into it.

[2017-11-07 11:53] NoahCarnahan commented on #248
Sounds good, thanks for looking into it.

[2017-11-07 13:26] bvaughn commented on #240
Since my PR fixed a couple of additional issues (not just the one mentioned in this issue) I went ahead and merged it. I hope this is okay and I didn't step on your toes, @ptrmelko10. 🙏 Many apologies if I did.

Let's chat more if you have any concerns or follow-up suggestions to the approach I took in #255!

[2017-11-07 13:26] #240 closed

[2017-11-07 13:55] donaldpipowitch opened #257 "setState with updater function - general recommendation?"
Hi, sorry, this is probably a dumb question. Dan once tweeted `it is also actively recommended [to use setState with an updater function] if you're setting state based on previous state`. Many picked this up (me, too) as a general recommendation, but I can't reference an event without `event.persist()` in this updater callback.

So what it the general recommendation?

1) _Only_ use `setState(updat

[2017-11-07 14:09] bvaughn commented on #257
I'm not sure which comment of Dan's you're referring to, but the recommendation to use the updater function is very important if the state update is in any way derived from or based on current (previous) state. Otherwise, I don't think it matters either way. My recommendation, then, would be most similar to option one above.

Some people might suggest more strongly to always use an updater functio

[2017-11-07 14:09] #257 closed

[2017-11-07 14:22] bvaughn commented on #201
Whoops. This was fixed via #202 and just never closed.

[2017-11-07 14:22] #201 closed

[2017-11-07 14:22] donaldpipowitch commented on #257
Sorry, I forgot to add a link to Dans tweet. Updated my post.

Thank you for the quick answer. ♥️

[2017-11-07 14:23] bvaughn commented on #181
Hello @obetomuniz. Just checking to see if you're still working on this issue. If you are not, no big deal! Please let me know though so I can remove the label in that case and let someone else pick it up. 😄

[2017-11-07 14:24] bvaughn commented on #97
This issue has been resolved via #150 and some follow up commits. Thanks again to @yangshun for your help!

[2017-11-07 14:24] #97 closed

[2017-11-07 15:21] bvaughn commented on #76
Closed by #189

Thanks Ishank!

[2017-11-07 15:21] #76 closed

[2017-11-07 15:22] yangshun commented on #97
You're welcome! Sorry this took so long too 😓 Thanks for the follow up work (which made up the bulk of the PR actually 😂 )

[2017-11-07 15:34] bvaughn opened #258 "Update crowdin.yaml"
Hey @ericnakagawa. Can you update the [`crowdin.yaml`](https://github.com/reactjs/reactjs.org/blob/master/crowdin.yaml) file so that it points to the right location for things like the home page, navigation YML files, etc?

This is a blocker for #82

[2017-11-07 15:42] bvaughn commented on #97
No problem 😁 I'm pretty happy with the resulting solution so yay for us

[2017-11-07 16:18] Daniel15 commented on #82
For what it's worth, on the Yarn site we only pull down localizations in
the prod build.

Sent from my phone.

On Nov 7, 2017 2:30 AM, "Brian Vaughn" <notifications@github.com> wrote:

[2017-11-07 16:20] bvaughn commented on #82
Agreed that we shouldn't do them for `yarn dev` but- depending on the speed- it might also be nice to disable for `yarn build`. (It's often useful to test the "production" build locally too.)

[2017-11-07 17:46] erquhart commented on #241
Note: this is now happening on all pages, regardless of how you come in.

[2017-11-07 19:27] ptrmelko10 commented on #240
@bvaughn it's all good. I didn't get much time to look this over. I'll review #255 since I figured the problem had something to do with gatsby.

[2017-11-08 03:04] obetomuniz commented on #181
@bvaughn Actually, I'm not working on this PR. My bad! I forgot to update you guys, go ahead and remove the flag.

[2017-11-08 13:24] emmafallancy commented on #241
@bvaughn if somehow Gatsby couldn't find any resource to the page, any navigation link would not be possible to be click. The click issue is a known bug, especially for page not found. For the redirect issue, I have no clue about it, since I can actually see the page but it is reported as not being able to find the page 😐

[2017-11-08 16:48] bvaughn commented on #246
I'm going to combine the 2 Gatsby plug-ins I created recently (`gatsby-remark-babel-repl-link` and `gatsby-remark-codepen-examples`) into a single plug-in (`gatsby-remark-code-repls`) that can be shared upstream with Gatsby. This way others can use it too. I've talked with Kyle about this and he thinks it will be useful to others as well. Once it's been merged, I'll update this repo to use the new

[2017-11-09 11:51] bvaughn commented on #181
No problem 😄 Thanks!

[2017-11-09 14:41] bvaughn commented on #242
Can't repro this and without further information it's hard to look into, so I'm going to close it for now. If new info is provided that enables us to make further progress on it, I'll re-open! 😄

[2017-11-09 14:41] #242 closed

[2017-11-09 14:54] bvaughn commented on #174
Fixed by upgrading Gatsby and co. (9f46dbe8c)

### Before
<img width="738" alt="screen shot 2017-11-09 at 2 53 00 pm" src="https://user-images.githubusercontent.com/29597/32611511-d0215156-c55d-11e7-8c0e-34835a56fbaf.png">

### After
<img width="736" alt="screen shot 2017-11-09 at 2 52 56 pm" src="https://user-images.githubusercontent.com/29597/32611515-d26f1510-c55d-11e7-8553-9456623ec2d9.png">

[2017-11-09 14:54] #174 closed

[2017-11-09 15:33] gaearon opened #264 "Document suppressHydrationWarning"
It's a new API in 16.1.
See https://github.com/facebook/react/pull/11126 for details.

[2017-11-09 16:48] monkindey opened #265 "yarn link not work when I want to use React from npm in my local project."
According to [how to contribute](https://reactjs.org/docs/how-to-contribute.html#development-workflow) section:

[code]

This seems to have two places that make me doubt.

1. The documentation states`use npm link to point ...`, but the example below use the `yarn link`. It's inconsistent.
2. IIRC, If you want to use the `yarn link`, It seems to have to run two steps, first `yarn link` (in package

[2017-11-09 22:13] ericnakagawa commented on #258
HI folks, I'm working on this now!

[2017-11-09 22:42] bvaughn commented on #265
`yarn` passes through most commands to `npm` (so `yarn link` is essentially the same as running `npm link`).

You are correct that running `npm link` in a project isn't sufficient unless you also run `npm link <foo>` in another project.

Would you be interested in submitting a PR to tidy this up? 😄

[2017-11-10 01:24] monkindey commented on #265
Yes, I am glad to do it.

Could we just use the `yarn link` because I think the whole development phase of React is not need to use the npm.

How about the `yarn link` example like this ?

[code]

I try this in my project and it works.

[2017-11-10 04:32] AChaoZJU opened #268 "Warn about X.PropTypes rather than X.propTypes"
The section  [Requiring Single Child](https://reactjs.org/docs/typechecking-with-proptypes.html#requiring-single-child) provides an API of checking `Requiring Single Child`.
<br>
The example code of this section:
[code]

However, it doesn't work in my code.  It is supposed to print a warning because two children are passed to a component as children. However, there is no warning.

[code]
Is there

[2017-11-10 08:05] gaearon commented on #268
`MyComponent.PropTypes` is wrong. It should be `MyComponent.propTypes`.

Maybe we should add a warning for this? Tagging as a good first bug.

[2017-11-10 08:06] gaearon commented on #268
Oh. Actually I should file this in React repo.
But the documentation is correct.

[2017-11-10 08:06] #268 closed

[2017-11-10 08:12] AChaoZJU commented on #268
@gaearon  thank you for your reply

I should have been more careful.

[2017-11-10 09:20] bvaughn commented on #265
Great. This issue is all yours then, @monkindey! 😄 Using `yarn link` for consistency is fine, yes.

Your example looks fine too, except that I would maybe change `cd your_project` to make it more obvious that it's not a relative path (eg `cd /path/to/your/project`).

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue,

[2017-11-10 09:53] monkindey commented on #265
yes, agreed.

The PR landed at https://github.com/reactjs/reactjs.org/pull/269 . Any feedback welcome.

[2017-11-10 10:17] #265 closed

[2017-11-10 10:26] bvaughn commented on #82
Here are some thoughts I had about creating localized links that are also backwards-compatible:

We could decorate Gatby's `createPage` action creator and require an additional language code parameter. This language code parameter could be prepended to the slug to generate a unique URL for a given locale (eg `${language}/${slug}`). If the language code specified is English, we could also automatic

[2017-11-10 15:15] darrenscerri opened #272 "Portal example can cause issues if children access the DOM on componentDidMount"
In the Portal example, the portal container is mounted in the DOM in the `Modal`'s `componentDidMount` method

[code]

This means that when the portal is being mounted, children are initially mounted on a detached node and their `componentDidMount` is called when the component's node is not yet inserted in the DOM. Therefore, any DOM method that requires nodes to be mounted (getting node dimension

[2017-11-10 16:28] bvaughn commented on #82
Realized another issue we'll need to solve while iterating on this today: How we should make links locale-aware?

The only ways I can think of are
 1. Require our translators to add a language code prefix before each link (which sucks)
 1. Write our own Remark transform to prepend the language code based on the location of the markdown file.

I think option 2 sounds more likely to work but it also

[2017-11-10 16:38] Daniel15 commented on #82
You shouldn't create redirects only for English, you should use Netlify's
locale-based redirects too (so if someone's browser or OS is set to Italian
and a page has an Italian translation, the local-less URL redirects to the
Italian page. This means you'll generate one redirect per page per locale,
and one extra one for English as default (if the page hasn't been
translated to a language yet).

Fo

[2017-11-10 16:43] bvaughn commented on #82
Hey @Daniel15!

If we could use Netlify somehow to do a locale-friendly redirect for old links, that's great. I didn't know about that. That would work for people visiting Gatsby from a referrer page.

Once they're there, we'll need to make sure links within the site work (eg ones that are defined in Markdown as well as pages using the Gatsby `Link` component). Yarn's website and this one are sign

[2017-11-10 23:50] janat08 opened #274 "DOM inspector image broken for rendering elements"
https://reactjs.org/docs/rendering-elements.html has broken image for dom inspection that is demonstrative at the very bottom.

[2017-11-11 10:38] bvaughn commented on #82
Quick update: I wrote a remark transform last night that handles one part of this:
[code]

Some quick testing locally seems to suggest this works well enough. Next up is a decorator for `Link`.

[2017-11-11 11:18] bvaughn commented on #272
Hi @darrenscerri 😄

`componentWillMount` and `render` methods should not have side effects. Side effects (like modifying the DOM) are only safe in `componentDidMount`, `componentDidUpdate`, and `componentWillUnmount` methods. The docs [mention this briefly](https://reactjs.org/docs/react-component.html#componentwillmount) but don't go into a lot of detail. Sebastian explains it in more detail on i

[2017-11-11 11:18] #272 closed

[2017-11-11 11:21] bvaughn commented on #274
There's only 3 `img` elements on the page you listed: One in the header, one in the footer, and one in the body content. All seem to load correctly for me.

<img width="583" alt="screen shot 2017-11-11 at 11 20 28 am" src="https://user-images.githubusercontent.com/29597/32688956-584ac556-c6d2-11e7-9ca3-388e1a81391a.png">

Are you sure this wasn't just a transient network issue? Could you provide a

[2017-11-11 11:29] #274 closed

[2017-11-11 14:14] darrenscerri commented on #272
Hi @bvaughn :)

Agreed, that's a valid point. I guess the idiomatic solution would be something like:

[code]

This guarantees that any children's `componentDidMount` is called when that child is inserted in the DOM tree, and enabling props like `autoFocus` to work as expected :)

My concern is that users may tend to use the `Modal` example from the official docs as a starting point for their moda

[2017-11-11 14:43] bvaughn commented on #272
Hm, I think that's reasonable. Want to put together a PR? Maybe with an inline comment or two explaining why it does more than may be seemingly necessary at first glance? 😄

[2017-11-11 15:37] darrenscerri commented on #272
Sure! Opened a PR [here](https://github.com/reactjs/reactjs.org/pull/275).

[2017-11-11 19:39] Daniel15 commented on #82
I mentioned it in an earlier comment: https://github.com/reactjs/reactjs.org/issues/82#issuecomment-337721594

It's on the page you linked to, under the "GeoIP and Language-based redirects" heading. 😛

[2017-11-11 19:41] Daniel15 commented on #82
I mentioned it in an earlier comment: https://github.com/reactjs/reactjs.org/issues/82#issuecomment-337721594

It's on the page you linked to, under the "GeoIP and Language-based redirects" heading. 😛

Here's what the language redirects look like for the Yarn site, as an example: https://gist.github.com/Daniel15/d84b39e8a260ee2a7d627751d015181b

[2017-11-11 20:27] bvaughn commented on #82
I guess I misunderstood the section of the docs on the page I linked to. Thanks for linking to the Yarn redirects file. The Gatsby redirects plug-in will need an update to support the additional language parameter but that should be pretty straight forward.

The `Link` component will still need the ability to detect and prepend the language code itself (during the build phase) because of how Gatsb

[2017-11-11 21:11] bvaughn commented on #82
PR to add support to Gatsby + `gatsby-plugin-netlify` for language and country based redirects: gatsbyjs/gatsby/pull/2890

[2017-11-12 07:46] bvaughn commented on #82
May be worth noting, explicitly, that we don't plan to support localization for pages like [the "Blog" landing page](https://github.com/reactjs/reactjs.org/blob/master/src/pages/blog/all.html.js). (There's no plans to translate blog post content.) If we _did_ decide to support that in the future, we would need to fork the page it somehow so that its GraphQL query only pulled in localized content.

[2017-11-12 18:46] statico opened #279 "Question: Color scheme used for syntax highlighting"
The code highlighting theme used on this site is wonderful. I've tried looking for the source but [didn't find much](https://github.com/reactjs/reactjs.org/commits/master/src/theme.js). Is it based on another theme or was it custom made for these docs?

![image](https://user-images.githubusercontent.com/137158/32702098-4800e026-c796-11e7-8bd3-0ade5a4dfc37.png)

[2017-11-12 19:51] bvaughn commented on #279
The color scheme is called [Oceanic Next](https://labs.voronianski.com/oceanic-next-color-scheme/) and it was created by @voronianski who was kind enough to let us use it. 😄

[2017-11-12 19:51] #279 closed

[2017-11-12 20:25] gaearon opened #280 "<a> links appear broken"
I don't know when this happened, but the "download this HTML file" link on our main Installation page is completely broken.

In particular, `<a>` tag gets immediately auto-closed for some reason:

<img width="729" alt="screen shot 2017-11-12 at 20 24 29" src="https://user-images.githubusercontent.com/810438/32703008-a44d0e80-c7e7-11e7-95f7-e1f1c2c9262f.png">
<img width="264" alt="screen shot 2017-

[2017-11-12 22:32] bvaughn commented on #280
I think this is related to a recent Gatsby regression, unfortunately (see gatsbyjs/gatsby/issues/2696). ☹️ I thought I'd patched all spots where it occurred but I guess not.

Looks like it's been fixed upstream ([4b444e3](https://github.com/gatsbyjs/gatsby/commit/4b444e3df1e4e9a76207fab994cb72a7688fac7e)) so maybe we can resolve this by upgrading.

[2017-11-12 22:55] bvaughn commented on #280
Hm...it's not broken for me when I run the app locally on head of master with a fresh `yarn install`.

It also doesn't appear to be broken on [reactjs.org/docs/installation.html](https://reactjs.org/docs/installation.html). Maybe you have a bad version cached, @gaearon? We definitely broke in this way recently (because of the issue mentioned) but I downgraded the plug-in that introduced the regres

[2017-11-12 23:15] xjlim commented on #280
@bvaughn The [workaround](https://github.com/reactjs/reactjs.org/commit/5dfd480fe27c0cffe5f9609600af00a6bc941e5a) has been put forth by Dan.

[2017-11-13 00:54] statico commented on #279
Thank you!

[2017-11-13 02:43] alexkrolick opened #282 "High-level reorganization"
Per some discussions on Reactiflux (w/@markerikson), thought it might be a good idea to start tracking some high-level ideas for organizing the docs.

[2017-11-13 14:43] bvaughn commented on #280
Gotcha. I hadn't seen that commit. Thanks Joe.

Other links that are in `<a href...>` format in Markdown also seem to work for me though (locally and on reactjs.org), eg `/docs/thinking-in-react.html` links to "Thinking In React: Step 4"

I still suspect this may have been a caching issue, given that I specifically noticed and fixed this type of thing recently.

[2017-11-13 16:17] #29 closed

[2017-11-13 16:19] bvaughn commented on #282
This is probably more work than it sounds like. (I'm not saying it's not the right move, just wanted to point that out.) It would require us to write a new custom Remark plug-in that could generate the runnable code examples- in a way that's optimized to defer loading JS-heavy things like Babel on pages that didn't need them.

[2017-11-13 16:34] alexkrolick commented on #282
Hmm. Do we have analytics on how many people actually edit the live code samples on the front page? Maybe they don't need to be live. Pure speculation.

[2017-11-13 16:37] bvaughn commented on #282
I think the `gatsby-remark-code-repls` we recently released could help a bit with this, since it would let us easy generate links to try things out in eg CodePe- but I still think the live, "see it in action and try it yourself" experience is important. And even though it adds weight (in terms of downloaded JS libs) to the home page, I also think it's nice to have as an experience that greets you

[2017-11-14 10:49] askoretskiy opened #286 "Mention that `Component.render` could return iterator"
According to the discussion here https://github.com/facebook/react/issues/11502 it is legal to return iterators here.

But it would work only in production mode -- in development it would be empty.

To make it work in both environments -- you should use iterable, rather than iterator (see this `Seq` approach from the Reach issue).

I suggest to place it around https://reactjs.org/docs/react-compon

[2017-11-14 17:44] bvaughn commented on #232
Sorry for the wait.

The applicable ECCN is EAR99.

[2017-11-14 17:44] #232 closed

[2017-11-14 21:24] bvaughn commented on #286
Hi @askoretskiy. Would you like to contribute a PR for this?

[2017-11-14 21:43] gaearon commented on #286
FWIW I don't think this is the right way to describe.

It would work *until the first enumeration*. Yes, it happens early in development and late in production. But this doesn't mean the feature "works" in production. On the next update, even in production, the interator would be done.

[2017-11-15 14:31] ezmiller opened #288 "Documentation regarding the React Fiber object internals"
Recently, I needed to delve into the internals of the new React fibers. Specifically, I needed to try to access the *instance* of a React component by way of a DOM element. With the pre-fiber React, I'd done this with a function that looked like this:
[code]
With the new fiber implementation this no longer worked for reasons that became clear when I read through @acdlite's approachable [intro to f

[2017-11-15 17:35] bvaughn commented on #288
External code should not access React internals. Internal implementation details _will_ change over time. This has caused a lot of pain for projects like Enzyme in the past- actually requiring a complete rewrite when React 16 was released.

If you find your application needing to be able to do things that aren't supported with the public API, I encourage you to open an issue at [facebook/react](ht

[2017-11-15 17:35] #288 closed

[2017-11-15 17:42] alexkrolick commented on #288
Also, you can add a `ref` to a React Element node that gives you access to the component instance. If you need to hand the instance off to another piece of code you could use a global variable or fire an event.

https://reactjs.org/docs/glossary.html#refs

[2017-11-15 17:47] bvaughn commented on #288
Thanks @alexkrolick!

Very sorry if I misunderstood the initial question and it was really just asking about refs 😄  I thought it was asking for more of a back-door to access component instances.

[2017-11-15 18:27] ezmiller commented on #288
@alexkrolick: that's an interesting thought. I'll give that a shot.
@bvaughn: you read the question correctly. It was more about providing some guide to the react internals, which I was curious to understand better. I see your point though. Thanks for the response.

[2017-11-15 19:58] gaearon commented on #288
I do think we'll eventually write some docs for contributors that explain internals better. But I don't recommend depending on those 🙂

[2017-11-16 16:26] ksenna commented on #181
I would like to work on this!

[2017-11-16 16:37] bvaughn commented on #181
This issue is all yours! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-11-16 19:36] ksenna commented on #181
Thank you!

Just submitted PR #291 😄

[2017-11-16 21:23] clemmy commented on #258
Wondering what the progress on this is. :)

[2017-11-17 14:12] gaelgerard opened #293 "Installation problem on windows 10"
Hello,
I can't install reactjs.org on my localhost with the following message
[code]
As seen above, I run yarn v1.3.2
node v8.9.1

Does anyone have a solution ?

Thanks in advance
g

[2017-11-17 14:35] alfonsogarciacaro opened #294 "Adding other statically-typed languages"
[This document](https://reactjs.org/docs/static-type-checking.html) explains how to do static type checking with React apps. It mixes a static-type checker for JS (Flow) with Typescript, which is a different language even if still a superset of JS. It maybe worthing to mention other statically-typed languages that compile to JS and are compatible with React, like ReasonML or [F#/Fable](http://fabl

[2017-11-17 15:27] bvaughn commented on #293
Hi @gaelgerard. Sorry to hear that you ran into some difficulties getting this project running locally. I run into occasional problems with Sharp during installation as well on my Mac.

Unfortunately I'm not in a great position to help you debug these as I'm not familiar with Sharp and I don't have a Windows dev setup. I think you might have a better chance of finding someone who can help with thi

[2017-11-17 15:27] #293 closed

[2017-11-17 15:34] bvaughn commented on #69
This can be done as part of the Codepen-to-embedded migration now that we can link to [embedded examples](https://github.com/reactjs/reactjs.org/tree/master/examples) so I'll take this one on.

[2017-11-17 15:40] bvaughn commented on #294
I don't think our intentions are to create and maintain an exhaustive list of languages capable of compiling to JavaScript. Flow and TypeScript are the most common and so seemed worth mentioning specifically.

I'll be happy to review a PR that suggests specific changes to our content to be more informative and inclusive, but I also think it's important to keep the React docs focused. I think if we

[2017-11-17 15:40] #294 closed

[2017-11-17 18:08] alfonsogarciacaro commented on #294
Thanks a lot for your quick reply @bvaughn, your reasoning makes sense to me :+1: Maybe a short sentence with non-exhaustive samples to let the user know there are other options could be enough? I'll send a PR so you can tell me what you think 😄

[2017-11-17 18:17] bvaughn commented on #294
You're welcome! I look forward to reviewing it.

[2017-11-17 19:25] 5achinJani opened #298 "Navigation results in a blank page."
![image](https://user-images.githubusercontent.com/23077544/32964754-38dfb5c8-cbfa-11e7-8ff8-1d00158708f5.png)

Steps to reproduce:
-> Type in the URL bar: `https://reactjs.org` and press Enter.
-> Click on 'Docs' link in the header and watch the page break.

Browser: Chrome Version 62.0.3202.94 (Official Build) (64-bit)
System: Windows 8.1

[2017-11-17 20:45] bvaughn commented on #298
Can't reproduce. I have from time to time seen broken navigation issues though (eg clicking a link on the header or sidebar does nothing, minified errors in the console). Every time it's resolved by reloading the page, but it's troubling.

cc @KyleAMathews Have you seen any similar reports? I didn't spot anything obviously related to this while searching Gatsby's GitHub, but you'd probably have a

[2017-11-17 21:00] KyleAMathews commented on #298
Occasionally — I want to add JS error tracking soon to gatsbyjs.org. Are you running any on reactjs.org?

It's hard as a maintainer to know what the occasional report means though as there's plenty of ways to create errors in your own code. Which is why adding error tracking on a site I control gatsbyjs.org would be a great start.

Also want to rewrite the gatsby runtime soon (maybe in Reason) wit

[2017-11-17 21:04] bvaughn commented on #298
Totally! In my case, I see it from time to time on reactjs.org, in between passing builds, so I think there's something there. I just haven't identified a pattern yet because it's infrequent.

Nope. We should. I'll update #9 to include this. If you add it to GatsbyJS.org first, I'd love to lazily copy your implementation.

[2017-11-17 22:45] bvaughn commented on #280
Going to assume this was just a transient issue for Dan.

[2017-11-17 22:45] #280 closed

[2017-11-18 02:42] alexkrolick commented on #235
#43 is merged

👀  https://reactjs.org/docs/faq-styling.html

[2017-11-18 02:52] gacosta89 opened #302 "Explain why componentDidMount is a better place to make an ajax request"
In the docs, in [componentWillMount section](https://reactjs.org/docs/react-component.html#componentwillmount) section it says:

And in the [componentDidMount section](https://reactjs.org/docs/react-component.html#componentdidmount):

Which for me is confusing because I won't like to wait for the component to be mounted to dispatch an ajax call to fulfill the component data dependencies. I would l

[2017-11-18 14:32] gaearon commented on #302
If it's an async request, it won't be fulfilled by the time the component mounts anyway, regardless of where you fire it. This is because JS is single threaded, and the network request can't "come back" and be handled while we are still rendering. So the difference between firing it earlier and later is often negligible.

You're right that it matters in some rare cases though and for those cases i

[2017-11-18 16:58] #235 closed

[2017-11-18 16:58] bvaughn commented on #235
Cheers

[2017-11-18 17:05] bvaughn commented on #302
I'll mark this issue as a "good first issue" in case anyone wants to take Dan's note about async and interruptions and add it to the docs.

Put another way, in the future (once the async API is stable and you're using it), it will be possible for lifecycle hooks like `componentWillMount` to be invoked more than once before a `render`- or to be invoked once and then never rendered- depending on whe

[2017-11-18 17:08] gaearon commented on #302
It's important to not overload the docs with speculations about future behavior though. If explanation raises more questions than it answers I'd argue it would only make the docs more complex for the majority of readers.

[2017-11-18 17:11] bvaughn commented on #302
I agree. But I also agree with OP that it's confusing and limiting for us to say "don't do this" without offering some hint at our rationale.

My elaboration above wasn't meant as a suggestion for what we should add to the docs, but rather to help whoever may work on adding the note to better understand why.

[2017-11-18 17:12] gacosta89 commented on #302
Thanks for the quick replies!

I agree with you of course. I only felt it was counter intuitive, and wanted to know the whys of the recommendation, that's all.

Perhaps in the future, when the API is stable, we can come up with a concise explanation for this recommendation.

[2017-11-20 04:49] clemmy commented on #258
https://github.com/reactjs/reactjs.org/pull/301 Linking PR. Might be closable.

[2017-11-20 05:41] alexkrolick commented on #85
It seems like this is mostly a question of how the docs are hosted, rather than something that can be addressed by open-source contributors (aside from potentially adding a dropdown with links to old versions and some build tweaks).

I'd envision a static hosting structure like this:

[code]

Assumptions:
- The docs are using a client-side router with a dynamic root
OR
- Static root-relative links

[2017-11-20 07:42] k9982874 opened #307 "typing issue in document"
![image](https://user-images.githubusercontent.com/3873648/33007347-59af813c-ce09-11e7-97a1-dac60fda4dca.png)

[2017-11-20 15:56] bvaughn commented on #258
Let's leave it open until you figure out what's going on [with this comment](https://github.com/reactjs/reactjs.org/pull/301#issuecomment-345591754)

[2017-11-20 16:46] clemmy commented on #307
What's the problem here?

[2017-11-20 17:11] bvaughn commented on #307
Hi @k9982874. 😄

I don't see any problem with the code you've highlighted. Could you clarify?

[2017-11-20 21:52] alexkrolick opened #309 "Add Error Handling to FAQ"
I'll add this later, feel free to assign/mark in progress

[2017-11-20 21:55] gaearon opened #310 "Run examples in Markdown through Prettier"
Not sure how to do it but I think I've seen some tweet saying you can run Markdown files through Prettier and it will format JS blocks.

[2017-11-20 22:27] bvaughn commented on #310
Kind of related to this, but, I was planning to write a little Gatsby Remark plug-in that let us directly embed examples from [the `examples` dir](https://github.com/reactjs/reactjs.org/tree/master/examples). These examples (all files in this directory) could be run through Prettier automatically.

This won't solve all problems, since it's a bit too much overhead to create an example file for a co

[2017-11-20 22:49] bvaughn commented on #309
Worth mentioning that this issue is a follow up from [this comment](https://github.com/reactjs/reactjs.org/pull/43#pullrequestreview-77928446) on PR #43.

[2017-11-20 22:50] bvaughn commented on #307
I'm going to close this for now because I think the docs in question are fine.

I can re-open it later if we get more clarification on what the problem is. ❤️

[2017-11-20 22:50] #307 closed

[2017-11-20 23:29] clemmy commented on #310
Pretty cool: https://github.com/prettier/prettier/releases/tag/1.8.0

[2017-11-20 23:30] alexreardon opened #312 "Adding requestAnimation throttling"
This is a great new resource: https://reactjs.org/docs/faq-functions.html

[This section](https://reactjs.org/docs/faq-functions.html#how-can-i-prevent-a-function-from-being-called-too-quickly-or-too-many-times-in-a-row) states that people can use `throttle` or `debounce` to reduce the amount of times a function is called. There is another alternative that we have been getting great results from:

[2017-11-20 23:31] alexkrolick commented on #310
One thing I noticed is that some of the js code blocks have special tags like `js{2, 7}` - might want to watch out to make sure Prettier recognizes them.

[2017-11-20 23:41] gaearon commented on #312
I've needed this pattern a few times. Let's add it.

[2017-11-20 23:44] alexkrolick commented on #312
I also like that there would now be examples for click, change, and scroll, with throttling appropriate to common usage of those events 👍

[2017-11-20 23:45] alexreardon commented on #312
Would you like me to raise a PR @gaearon ?

[2017-11-21 00:53] gaearon opened #314 "Image has an incorrect aspect ratio"
Noticed this in https://reactjs.org/docs/lifting-state-up.html#lessons-learned:

<img width="933" alt="screen shot 2017-11-21 at 00 52 42" src="https://user-images.githubusercontent.com/810438/33049102-5b9c5c84-ce56-11e7-9a67-4476f7c438be.png">

Not sure if this is just a single image or if there's a pattern.

[2017-11-21 01:18] gaearon commented on #312
Sure.

[2017-11-21 06:15] jyash97 commented on #314
Gone through the docs, I think this image is only having this problem because it has been assigned a fixed height of 322px.
![aspectratio](https://user-images.githubusercontent.com/22376783/33057501-5801d1de-ceb1-11e7-83d9-5c2b47941fd0.png)

[2017-11-21 08:34] vishalvrv9 commented on #302
Hello I'm a beginner to open source contributions. Have gone through the guidelines and was wondering if I should take up this issue?

[2017-11-21 10:15] vishalvrv9 commented on #86
Hello is this issue still open and can I take this up? This is referenced to issue#218 (which is also open)
Sorry I am a little lost (new to open source contributions) but I think I can do this. Thanks.

[2017-11-21 12:05] #314 closed

[2017-11-21 16:03] bvaughn commented on #312
Nice suggestion @alexreardon! And great job getting the ball rolling with this section< @alexkrolick 😄

[2017-11-21 16:08] bvaughn commented on #86
This issue is all yours, @vishalvrv9! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-11-21 16:08] bvaughn commented on #302
This issue is all yours, @vishalvrv9! 😄

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2017-11-21 20:14] migueloller commented on #309
There's been some minor discourse on this [here](https://github.com/reactjs/reactjs.org/pull/308#discussion_r152373636).

[2017-11-21 22:45] #312 closed

[2017-11-22 13:27] gaearon opened #328 "Prominently mention virtualization in Optimizing Performance"
Our Optimizing Performance guide fails to mention one of the most common and impactful optimization techniques: virtualization.

For example https://bvaughn.github.io/react-virtualized/.

We need to document that advice.

[2017-11-23 13:21] Kunoky opened #329 "When I was in the onClick`s callback, simulating clicking on other elements triggers an additional callback"
Here's the link ：https://codepen.io/afc163/pen/JOvzZy?editors=0011
`
class NormalLoginForm extends React.Component {
  handleSubmit = (e) => {
    e.preventDefault();
    console.log('click button');
    //模拟点击
     document.getElementById('div').click();
  }
  render() {
    return (
      <div>
        < button onClick={this.handleSubmit} >
          Log in
        </ button >
        <div id='d

[2017-11-23 15:44] bvaughn commented on #329
It looks like you're trying to report an issue with React. You can do that [here](https://github.com/facebook/react/issues/new). This repo is just for the documentation website.

[2017-11-23 15:44] #329 closed

[2017-11-23 16:19] jvitoroc opened #330 "More details on File Structure"
Some questions need to be answered, like "How the features are connected to each other" and "How to connect the features" best practices and bad practices
https://github.com/reactjs/reactjs.org/blob/master/content/docs/faq-structure.md

[2017-11-23 16:43] bvaughn commented on #310
First step to what I described would be to get Prettier running on our example code, which I've done with PR #331.

[2017-11-23 19:11] vinitkumar opened #332 "Remove the section about `react-addons-perf`"
`react-addons-perf` is no longer supported from React 16 onwards. Still, the main documentation has a page related to it (https://reactjs.org/docs/perf.html) and it might cause confusion to users who can easily overlook the warning on top and start following the code example.

Relevant link:
- https://stackoverflow.com/questions/46578145/module-not-found-cant-resolve-react-dom-lib-reactperf-in-nod

[2017-11-24 03:06] #332 closed

[2017-11-24 16:36] bvaughn commented on #330
I think this might be a bit too broad.

How to connect "features" depends on the context. What kind of features (components) are you connecting? If they're pages, then you could use component `state` or a routing solution like React Router. If they're smaller elements (eg buttons) then you can just require/import them directly and use them within another component's `render` method.

This sort of

[2017-11-24 16:36] #330 closed

[2017-11-24 16:49] bvaughn commented on #310
Regarding Prettier 1.8's ability to format Markdown files - it looks like it chokes on the ones we have here because of the "frontmatter" header blocks, eg:

[error] content/warnings/unknown-prop.md: SyntaxError: Invalid left-hand side in assignment (1:3)
[error] > 1 | ---
[error]     |   ^^^^^^^^^^^^^^^^^^^^
[error] > 2 | title: Unknown Prop Warning
[error]     | ^^^^^^
[error]   3 | layout: sing

[2017-11-24 18:07] bvaughn commented on #310
Related PR #336

[2017-11-24 19:23] gaearon opened #337 "Document that syncing props and state is usually a bad idea"
We used to have a "tip" about this on the old website (a few years ago), but not anymore.

I think maybe we need to revive that section because too many people attempt to derive state from props—either in constructor or cWRP—without realizing they could just do this work in render. In 90% of cases that's exactly what they need to do.

See also https://mobile.twitter.com/EntriaTech/status/934139022

[2017-11-24 20:27] jyash97 commented on #337
Hey @gaearon  can I take this? Could you tell what to we need to add ?

[2017-11-24 23:37] alexkrolick commented on #337
@jyash97 the issue is yours!

I've added an "in-progress" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

As far as what to add, how about starting with a disclaimer in [State and Lifecycle](https://reactjs.org/docs/state-and-lifecycle.html)

[2017-11-25 02:26] gaearon opened #339 "Link to a good key={index} danger explanation"
I liked this article: https://medium.com/@robinpokorny/index-as-a-key-is-an-anti-pattern-e0349aece318

I think we should link to it from Lists and Keys page for people who want to know why indexes as keys are not safe in some cases, since we often get asked that but it's not essential or easy to explain enough to include in the doc itself.

[2017-11-25 03:06] mateoholman commented on #339
I can do a quick revision to the Lists and Keys page and find an appropriate place to insert the link if you would like help.

[2017-11-25 03:18] gaearon commented on #339
👍 sounds great

[2017-11-25 04:47] mateoholman commented on #339
Ok, added the link where I thought it may best fit in PR #340 😄

[2017-11-25 05:11] jyash97 commented on #337
a084d924fa955cf1713f9776fbccb509dcd1ce03

[2017-11-25 16:45] gaearon opened #342 "Make it clearer we don't necessarily encourage using CSS in JS"
I saw this more than a few times:

https://twitter.com/chrisrhymes/status/934459780130885632

We probably have some paragraph about inline styles in our docs, and people think it's the only (or even the most common) way of doing styling in React.

We should make it clearer that typically people use normal CSS with React, even though CSS in JS (via different approaches) is possible.

May be a good

[2017-11-25 16:46] gaearon commented on #342
Could also be due to some example code using `style=` just for illustration purposes without realizing people take it seriously.

[2017-11-25 16:50] markerikson commented on #342
It's like with the Redux docs.  People see examples and assume that's the "best/right/only" way to do things.

[2017-11-25 17:26] jyash97 commented on #342
Hey  @gaearon,
Let me give this a try and update you

[2017-11-25 19:06] gaearon commented on #342
Here's a specific section that might need an extra explanation. https://twitter.com/chrisrhymes/status/934485220073590785?s=17

[2017-11-26 03:28] thejameskyle opened #343 "Bundling/Code Splitting Guide"
I think we should be doing a better job encouraging React apps to do code splitting. Would an "Advanced" guide with the following structure be accepted?

- Bundling - What is it?
- Code Splitting - What is it?
- `import()` - Using it to code split
- Libraries:
  - React Loadable - Loading components/error states/etc
  - Other libs?

Most of the page will assume you're using Create React App or hav

[2017-11-26 03:55] michaelgichia commented on #302
@gacosta89 @gaearon maybe I have misunderstood `componentWillMount`. Please correct me if I'm wrong.

The sole purpose of componentWillMount is for prefetching such as Ajax calls as long as the state is updated on `componentWillReceiveProps`. This is because React will queue state changes. On the other hand, `setState` should not be called on componentWillMount for the reasons mentioned above.

[2017-11-26 05:58] jyash97 commented on #342
#344

[2017-11-26 15:02] jvitoroc commented on #330
I'm having a hard time trying to develop this app: https://github.com/jvitoroc/issues-analyst/tree/ref
I don't know I'm following the best practices and if my file structure is good. Can you take a look?

[2017-11-26 16:47] bvaughn commented on #343
That sounds great to me, James. I'd love to see such a PR.

[2017-11-27 12:30] clemmy commented on #258
@ericnakagawa Pinging in case you missed the notification. 🙂

[2017-11-27 12:53] gaearon opened #351 "Document "props vs state" in FAQ"
https://twitter.com/CarysMills/status/934908731950759936?s=17 includes two good links that we should have in the FAQ.

[2017-11-27 13:52] jyash97 commented on #351
@gaearon #341 also based on this

[2017-11-27 15:21] gaearon opened #352 "Document simulating browser events"
Maybe for the FAQ. It's commonly asked how to simulate events in React. We have Simulate helpers but they only trigger the React events without the browser behavior. In some cases that's not enough. We also have SimulateNative helpers but they're undocumented and I think we should get rid of them (https://github.com/facebook/react/issues/11656).

What we should do IMO is to document how to use bro

[2017-11-27 16:45] bvaughn commented on #330
Hey @jvitoroc. Dan added a bit more context to the [File Structure page](https://reactjs.org/docs/faq-structure.html) with PR #338. You might want to check it out again?

I don't really have the bandwidth to audit projects and give tailored feedback unfortunately. 🙁  I'm sorry.

[2017-11-27 16:55] bvaughn commented on #302
This is correct, @michaelgichia. Early prefetching is the canonical use for `componentWillMount`. It lets your app make a GET request a little bit earlier than waiting for mount.

It's best to stick with read-only (eg GET) requests though, for the reasons mentioned above regarding future async behavior. I like Dan's summary above: "When in doubt, do it in `componentDidMount`"

It _is_ actually oka

[2017-11-27 17:29] bvaughn commented on #351
I've marked this issue in progress since @jyash97 is going to pull it into #341

[2017-11-27 17:45] bvaughn commented on #342
Closed by #344. Some follow-up work via #346 as well.

[2017-11-27 17:45] #342 closed

[2017-11-27 18:14] jvitoroc commented on #330
@bvaughn Thanks, but at least tell me if it's alright copy and paste the same component in every folder inside src/. In my project I do this with the Message Component.
Sorry for my english

[2017-11-27 18:19] bvaughn commented on #330
I'm not sure why you would need to copy paste the same component. You should be able to import it. Let's say your project structure looked like this:
[code]
If both pages (`PageOne` and `PageTwo`) want to use the same, shared component (`SharedComponent`) then they could import it like so:

[code]

The specifics vary some depending on how your project is structured. You might want to post on React

[2017-11-28 04:32] ytorii commented on #258
Any updates on this issue? As for Japanese translation, though minor fixes needed yet, we've translated almost all docs except blog contents in crowdin.

[2017-11-28 13:47] #181 closed

[2017-11-28 14:26] jyash97 commented on #351
@bvaughn I have applies the changes in my latest commit #341

[2017-11-28 19:45] #328 closed

[2017-11-28 20:01] samsch opened #358 "Fix Tutorial CodePen to use constructor(props) and super(props)"
The CodePen links in the tutorial are missing the props param/arg in constructors.

E.g., this:
[code]
Should be replaced with:
[code]
I think this includes all the linked CodePens which use the constructor:
-  https://codepen.io/gaearon/pen/VbbVLg?editors=0010
-  https://codepen.io/gaearon/pen/gWWZgR?editors=0010
-  https://codepen.io/gaearon/pen/gWWQPY?editors=0010
-  https://codepen.io/gaearon/

[2017-11-28 20:05] gaearon commented on #358
Done, thanks.

[2017-11-28 20:05] #358 closed

[2017-11-28 20:32] gaearon opened #360 "Document using "Highlight Updates" in React DevTools"
As of React 16 it now works correctly and highlights components that re-render. We should mention this in "Optimizing Performance".

[2017-11-28 20:38] gaearon opened #361 "Fix "browser support" to mention polyfills"
See https://github.com/facebook/react/issues/11688#issuecomment-347655995 for original issue and proposed solution.

[2017-11-28 23:33] #361 closed

[2017-11-29 00:15] gaearon opened #365 "Crashes when navigating between top-level menu items"
I get crashes when navigating between top level Blog and Community items and back. Sometimes it blows away the whole page.

<img width="654" alt="screen shot 2017-11-29 at 00 11 51" src="https://user-images.githubusercontent.com/810438/33351114-1ab79efa-d49a-11e7-8dfa-3d19a29b9799.png">
<img width="642" alt="screen shot 2017-11-29 at 00 12 14" src="https://user-images.githubusercontent.com/810438/

[2017-11-29 00:24] alexkrolick commented on #365
Possibly related to https://github.com/reactjs/reactjs.org/issues/298

[2017-11-29 00:33] gaearon commented on #365
Paging @KyleAMathews

[2017-11-29 00:55] KyleAMathews commented on #365
I wasn't able to reproduce — I can look later at how `eventHandler` could be called before `window.___history` is set.

[2017-11-29 00:58] gaearon commented on #365
Doesn't repro for me either now 😞

[2017-11-29 02:51] michaelgichia commented on #302
@bvaughn thank you for taking your time to write a comprehensive explanation. I hope others will find this thread too for a better understanding of React Lifecycle and Setstate.

[2017-11-29 03:01] bvaughn commented on #365
I _have_ seen Gatsby occasionally get into a broken state- maybe not quite like this- and refreshing the page always fixes it, which makes it difficult to track down.

One reliable way to get it broken like this is to load a page without the file extension. For example, rather than loading [reactjs.org/docs/hello-world.html](https://reactjs.org/docs/hello-world.html), open [reactjs.org/docs/hello-

[2017-11-29 09:18] BhatNagaraj opened #368 "Debugging the production code"
Hi Team,

How do i debug in production code ie. minified code, not able to do with reactTool at the moment. we are not getting the console error also.

[2017-11-29 13:38] #264 closed

[2017-11-29 14:28] gaearon commented on #368
This is a bug tracker for https://reactjs.org/ website.

If you have a question about React please refer to the community support resources: https://reactjs.org/community/support.html

[2017-11-29 14:28] #368 closed

[2017-11-29 15:47] radubrehar commented on #352
I'm working on this.

[2017-11-29 21:14] #351 closed

[2017-11-29 21:15] bvaughn commented on #337
Hey @jyash97. The outcome of #341 didn't actually end up related to this issue, but rather to #351, so I'm going to mark this issue as no longer in progress. If you'd like to send another PR that implements the suggestion from this issue though, let us know and we'll mark it back in progress. 😄

[2017-11-29 21:35] bvaughn commented on #258
Clement, Eric, and I are still working on it- but I don't think it's top-priority at the moment, so the work is progressing slowly.

I believe we're still waiting to hear back from @ericnakagawa regarding the ping.

[2017-11-29 22:03] bvaughn commented on #310
We might be able to draw some inspiration from [this project](https://github.com/DSchau/prettier-markdown) in terms of running only the code blocks through Prettier. Not sure how straight forward this would be to do, given that multiple Gatsby plugins touch our code blocks. It might also complicate line-highlights since those are line-number based (at least [until the Gatsby plugin supports the ne

[2017-11-29 22:05] #339 closed

[2017-11-30 02:34] jyash97 commented on #337
@bvaughn
Can you have a look at the first commit of #341, I added topics like what should come in State, is this the good way of tackling this issue?

[2017-11-30 03:25] KyleAMathews opened #372 "Top "Get Started" & "Take the Tutorial" links are blocked on screens of width > 1280px"
Not sure what's intercepting the clicks.

[2017-11-30 03:42] bvaughn commented on #372
Seems related to a [recent logo SVG change](https://github.com/reactjs/reactjs.org/pull/354#issuecomment-348071051) that I believe was fixed by Sophie via #373.

Please let me know if you're still seeing this and I'll reopen the issue!

[2017-11-30 03:42] #372 closed

[2017-11-30 07:41] extg opened #376 "Remove unnecessary "use strict" directives from source files"
As per the below discussion, let's remove the unnecessary `use strict` directives scattered throughout the source code (like [here](https://github.com/reactjs/reactjs.org/blob/2bdc003c126475234160e67e52244c42d71755bb/src/components/ButtonLink/ButtonLink.js#L7)).

### Original issue
In each component I saw `use strict;` directive and my question for what, what is a meaning?
[Spec] declare **"Module